<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

?>

<?php

    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $storeID       = $storeManager->getStore()->getStoreId();
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
<a class="logo" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
    <img <?php if($storeID ==1):?> src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
         <?php elseif($storeID == 2):?>src="<?php echo $this->getViewFileUrl('images/logo_biale_en.svg'); ?>"<?endif;?>
         title="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
         alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
         <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
         <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
    />
</a>

