<?php
//@codingStandardsIgnoreFile

/** @var \Mirasvit\Blog\Block\Sidebar\Recent $block */
$collection = $block->getCollection()
    ->setPageSize($this->getPageSize());
?>
<!--<div class="block blog__sidebar-recent">-->
<!--    <div class="block-title">-->
<!--        <strong>--><?//= __('Recent Posts') ?><!--</strong>-->
<!--    </div>-->

    <div class="block-promo-content">
            <?php foreach ($collection as $post): ?>
                <?php
//                $imgPath = $post->getWidgetFeaturedImageUrl($block->getImageWidth(), $block->getImageHeight());
                $imgPath = $post->getFeaturedImageUrl();
                ?>
                <div class="item">
                    <?php if ($imgPath): ?>
                        <a href="<?= $post->getUrl() ?>">
                            <img src="<?= $imgPath ?>" alt="<?= $post->getName() ?>" class="blog__post-featured-image"/>
                        </a>
                    <?php endif ?>
                    <div class="item-cont desktop">
                    <a class="promo-title" href="<?= $post->getUrl() ?>"><?= $post->getName() ?></a>
                     <?php echo $post->getContent()?>
                    </div>
                </div>
            <?php endforeach ?>

    </div>
<!--</div>-->

    <script type="text/javascript" xml="space">
        require(['jquery','owlcarousel'], function ($, owlCarousel) {
            var news_slider = $(".block-promo-content");
            news_slider.owlCarousel({
                responsive:{
                    0:{
                        items:1
                    },
                    480:{
                        items:1
                    },
                    768:{
                        items:1
                    },
                    992:{
                        items:1
                    },
                    1200:{
                        items:1
                    }
                },
                autoplay:false,
                loop:true,
                nav : false, // Show next and prev buttons
                dots: true,
                autoplaySpeed : 500,
                navSpeed : 500,
                dotsSpeed : 500,
                autoplayHoverPause: true,
                margin: 0,
            });
        });

    </script>

