<?php
/**
 * Solwin Infotech
 * Solwin Product Print Page
 *
 * @category   Solwin
 * @package    Solwin_Printpage
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
?>
<?php
$helper = $this->helper('Solwin\Printpage\Helper\Data');
$_product = $block->getProduct();
$pid = $_product->getEntityId();
$iconhtml = $helper->getConfig('printsection/printgroup/iconhtml');

$printurl = $helper->getPrintUrl() . 'id/' . $pid;
?>
<div class="printdiv">
  <a  href="<?php echo $printurl; ?>" target="_blank" class="printlink" title="<?= __('Print page') ?>">
    <?php if($iconhtml != "") {
      echo $iconhtml;
    }  ?>
  </a>
</div>
<style>
  <?php if($iconhtml == "") { ?>
  .printdiv {
    background-image: url('<?php echo $this->getViewFileUrl('Solwin_Printpage::images/print.png'); ?>');
    background-repeat: no-repeat;
    padding-left: 15px;
    background-size: 15px 100%;
  }
  <?php } ?>
</style>
<script>
    require(['jquery'], function ($) {
        $('.printdiv .printlink').click(function(){
            window.open(this.href,".print-page-wrapper","width=780,height=600");
            return false;
        });
    })
</script>
