<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
    <div class="col-width-50 product attribute <?= /* @escapeNotVerified */ $_className ?>">
        <?php $img_scr = 'images/baner-'.$_attributeValue.'.png'?>
        <div class="image">
            <?php
            $url  = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
            $login_url = $block->getUrl('customer/account/login', array('referer' => base64_encode($url))); ?>

            <a href="<?=$login_url?>">
            <img src="<?php echo $this->getViewFileUrl($img_scr);?>" title="<?= __('Log in to buy the product at a discount') ?>" alt="Kup produkt z rabatem">
            </a>
        </div>
    </div>
<script>
    require(['jquery'], function ($) {
        $(".catalog-product-view .product-info-main .page-title .base").append("<span class='kolor_lampy'> Rabat <?=$_attributeValue?>% po zalogowaniu</span>");
    });
</script>
<?php endif; ?>

<?php
$wyczerpanie_zapasow = $_product->getData('do_wyczerpania_zapasow');
if ($wyczerpanie_zapasow == '1'): ?>
    <div class="col-width-50 salealbe">
        <img src="<?php echo $this->getViewFileUrl('images/baner-dost.png');?>" title="<?= __('The product is available while stocks last')?>" alt="Produkt dostępny">
    </div>
<?php endif;?>
