<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
}elseif($_attributeType == 'custom'){

    $_attribute_custom = $_product->getData($_code);
    if($_attribute_custom) {
        $_attributeValue = "Temporary lack";
        $_className = "produkt_niedostepny";?>
<style>
    .product-box .ask-product a span{
        color: green;
    }
    .product-box .ask-product i{
        color: green !important;
    }
</style>
<?php
    } else {
        $_attributeValue = "Product available";
        $_className = "produkt_dostepny";
    }
}
 else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
    <div class="col-md-3 product attribute <?= /* @escapeNotVerified */ $_className ?>" title="<?= __($_attributeValue) ?>">
        <?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
        <?php if ($_attributeValue != 'dostawa 48h' && $_attributeValue != 'dostawa 72h' && $_attributeValue != '24h'&& $_attributeValue != '48h delivery' && $_attributeValue != '72h delivery'){ ?>
            <div class="image_attibute_dostawa"></div>
        <?php }?>

        <div class="image"></div>
        <div id="<?= $_attributeValue?>" title="<?= __($_attributeValue) ?>" class="<?= $_attributeValue?>" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>><?= /* @escapeNotVerified */ __($_attributeValue )?></div>
    </div>
<?php endif; ?>

<script>
    require(['jquery'], function ($) {
            $(".dostawa.48h").addClass( "dost-48" );
            $(".48h.delivery").addClass( "dost-48" );
            $(".dostawa.72h").addClass( "dost-72" );
            $(".72h.delivery").addClass( "dost-72" );
            $(".free_shipping #Tak").text( "wysyłka GRATIS" );
    });
</script>