<?php
$_product = $block->getProduct();
$final_price = $_product->getFinalPrice();
?>

    <div class="col-md-3 padding_0 ask-product">
        <?php echo $block->getChildHtml('ask_product'); ?>
    </div>
    <div class="col-md-3 padding_0 recommend">
        <i style="    color: #818181; font-size: 25px;" class="fas fa fa-share"></i>
        <?php echo $block->getChildHtml('mailto_product'); ?>
    </div>
<?php if($final_price > 300){ ?>
    <div class="col-md-3 padding_0 m-bank">
        <div title="<?= __('Calculate m_bank installment') ?>" id="calc7"></div>
    </div>
<?php } ?>

<script>
    require([
        'jquery',
        'jquery/ui',
        'calculator',
        'calculator1',
    ], function($){

        var fianl_price = <?= $_product->getFinalPrice(); ?>;

        var Calc7 = new mbank_raty('calc7', fianl_price);
        Calc7.calculator_8('30463394', '1');
    });
</script>