<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty tekst">
    <div class="margin-box">
        <?php $contirune_tekst = __('Continue shopping'); ?>
        <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
        <h1 class="empy-cart-h1"><?= /* @escapeNotVerified */ __('Your shopping cart is empty :(') ?></h1>
        <p><?= __('It seems like currently')?><br><strong><?= __('you dont have any products in your cart ...')?></strong></p>
        <button class="action primary"><?php /* @escapeNotVerified */ echo __('<a href="%1">'.$contirune_tekst.'</a>',
                $block->escapeUrl($block->getContinueShoppingUrl())) ?></button>
        <?= $block->getChildHtml('shopping.cart.table.after') ?>
    </div>
</div>

<script>
    require(['jquery'], function ($) {
        if ($('.column.main div').hasClass('cart-empty')) {
            $("body.checkout-cart-index").addClass( "empty-checkout" );
        }
    });
</script>

