<a id="yt-totop" href="javascript:void(0)" title="Go to Top"></a>

<script>
    require(['jquery'], function ($) {
        $(document).ready(function ($) {
            $("#yt-totop").hide();
            $(function () {
                var wh = $(window).height();
                var whtml = $(document).height();
                $(window).scroll(function () {
                    if ($(this).scrollTop() > whtml / 10) {
                        $('#yt-totop').fadeIn();
                    } else {
                        $('#yt-totop').fadeOut();
                    }
                });
                $('#yt-totop').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });
        })
    })
</script>