<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
$welcomeMessage = $block->getWelcome();
?>
<?php switch ($block->getShowPart()):
    case 'welcome': ?>
        <li class="greet welcome" data-bind="scope: 'customer'">
            <!-- ko if: customer().fullname  -->
            <span data-bind="text: new String('<?= $block->escapeHtml(__('Welcome, %1!', '%1')) ?>').replace('%1', customer().fullname)">
            </span>
            <!-- /ko -->
            <!-- ko ifnot: customer().fullname  -->
            <span data-bind='html:"<?= $block->escapeHtml($welcomeMessage) ?>"'></span>
            <?= $block->getBlockHtml('header.additional') ?>
            <!-- /ko -->
        </li>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
    <?php break; ?>

    <?php case 'other': ?>
        <?= $block->getChildHtml() ?>
    <?php break; ?>

<?php endswitch; ?>
<script>
    require(['jquery'], function ($) {
        $window = $(window);
        $( ".custom-search-buttons" ).wrap( "<div class='sticky-custom-search-buttons'></div>" );
        $( ".sticky-custom-search-buttons" ).wrap( "<div class='sticky-buttons-blocks'></div>" );
        if ($('.panel.wrapper').length) {
            menu_offset_top = 200; //$('.header-top').offset().top;
            function processScroll() {
                var scrollTop = $window.scrollTop();
                var checkoutCart = window.location.pathname;

                if(checkoutCart !== '/checkout/cart/') {
                    if (scrollTop >= menu_offset_top) {
                        setTimeout(function () {
                            $('.panel.wrapper').addClass('sticky-header');
                            $('.sticky-buttons-blocks').addClass('sticky-buttons');
                        }, 100);
                        $('.panel.wrapper').addClass('menu-on-top');
                        $('.page-header').addClass('slide-down');
                        $('.sticky-buttons-blocks').addClass('menu-on-top-search');
                        $('.nav-sections').appendTo('.sticky-custom-search-buttons');
                        $('.nav-item.vertical-item').removeClass('always-block');

                    } else if (scrollTop < menu_offset_top) {

                        $('.sticky-buttons-blocks').removeClass('menu-on-top-search sticky-buttons');
                        $('.page-header').removeClass('slide-down');
                        $('.nav-sections').appendTo('.page-wrapper').insertAfter('.page-header');
                        $('.nav-item.vertical-item').addClass('always-block');
                        $('.panel.wrapper').removeClass('sticky-header menu-on-top');

                    }
                }
            }

            processScroll();
            $window.scroll(function () {
                processScroll();
            });
        }
    });
</script>

<script>
    require(['jquery'], function ($) {
        var width = $(".custom-search-buttons").width();
        var px_with = width +'px';
     $('.block-search #search_autocomplete').css('min-width', px_with);
    })
</script>