
.mbank-calc h1, .mbank-calc h2, .mbank-calc h3, .mbank-calc h4, .mbank-calc h5, .mbank-calc h6 {color: #000; line-height: 1.1em;}

.mbank-calc h1 {font: 2.17em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 15px;}
.mbank-calc h2 {font: 1.83em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 14px;}
.mbank-calc h3 {font: 1.50em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 10px;}
.mbank-calc h4 {font: 1.33em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 8px;}
.mbank-calc h5 {font: 1.17em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 6px;}
.mbank-calc h6 {font: 1.08em "FS Lola Bold", Arial, Helvetica, sans-serif; margin: 0 0 4px;}

.mbank-calc ul {margin: 10px 0; padding: 0 0 0 20px; list-style: disc; line-height: 1.25em;}
.mbank-calc ol {margin: 10px 0; padding: 0 0 0 40px; line-height: 1.25em;}
.mbank-calc li {margin: 5px 0;}
.mbank-calc ul li {padding: 0 0 0 3px;}
.mbank-calc ul ul, .mbank-calc ol ol {margin-left: 20px;}
.mbank-calc ul span , .mbank-calc ol span {line-height: 1.25}

.mbank-calc table, .mbank-calc table td {font-size: 1em; color: #000;}
.mbank-calc td {padding: 0;}
.mbank-calc hr {height: 1px; background-color: #ccc; border: 0;}
.mbank-calc .ie6 hr, .mbank-calc .ie7 hr {border-bottom: 1px solid #ccc;}

.mbank-calc .ie9 *, .mbank-calc .ie10 * {filter: none !important;}

.mbank-calc strong, .mbank-calc b {font-family: "Open Sans Bold", Arial, sans-serif; font-weight: normal !important;}
.mbank-calc h1 strong, .mbank-calc h1 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h2 strong, .mbank-calc h2 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h3 strong, .mbank-calc h3 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h4 strong, .mbank-calc h4 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h5 strong, .mbank-calc h5 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h6 strong, .mbank-calc h6 b {font-family: "FS Lola Bold", Arial, sans-serif;}
.mbank-calc h1.light, .mbank-calc h2.light, .mbank-calc h3.light, .mbank-calc h4.light, .mbank-calc h5.light, .mbank-calc h6.light {font-family: "FS Lola Light", Arial, sans-serif;}


/* -- CALC1 pionowa -- */
#mbr_calc1_container  p, #mbr_calc1_container  div { margin: 0; padding: 0; font-weight: bold; font-size: 11px; color: #B30000; text-align: left; }
#mbr_calc1_container  p span, #mbr_calc1_container  div span { font-size: 18px; font-weight: bold; }
#mbr_calc1_container  p.rate, #mbr_calc1_container  div.rate { padding: 4px 0; }

#mbr_calc1_container div.rrso { position: relative; }
#mbr_calc1_container .rrso sup {color: #494B44 !important;}
#mbr_calc1_container .rrso sup div { width: 120px; line-height: 15px; padding: 5px; border: 1px solid #000; background-color:#FAFAFA; position: absolute; top: 20px; left: -2px; display: none; font-size: 11px; color: #000; }
#mbr_calc1_container .rrso sup:hover div { display: block; }

#mbr_calc1_container  p.choices { font-weight: normal;font-size: 11px; color: #4b4b4b;padding: 4px 0; }
#mbr_calc1_container .center { text-align: center; }
#mbr_calc1_container  p.price { color:#4b4b4b;line-height:18px;}
#mbr_calc1_container  p.footer  a { margin: 3px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.gif) no-repeat left 7px; color: #B30000; padding: 5px 9px;font-size: 9px; text-decoration: none; display: block; }
#mbr_calc1_container  p.footer { margin: 0 5px; font-weight: normal; position: relative; padding-top: 4px; border-top: dashed 1px #B8B9B9; }
#mbr_calc1_container  p.price span.big { font-size: 18px; font-weight: bold; }
#mbr_calc1_container { min-width: 110px; overflow: hidden; }
#mbr_calc1_container  div.calc1 { min-width: 110px; width: 100%; font-family: Arial;}
#mbr_calc1_container  div.calc1 .top { text-align: center;background: #fff url(https://www.mbank.net.pl/kalkulatory/calc/img/top_bg.gif) repeat-x; position: relative; height: 4px; }
#mbr_calc1_container  div.calc1 .top .lc { left: 0; position: absolute; width: 10px; height: 4px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc1_bg.gif) no-repeat; }
#mbr_calc1_container  div.calc1 .top .rc { right: 0; position: absolute; width: 10px; height: 4px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc1_bg.gif) no-repeat -6px 0; }
#mbr_calc1_container  div.calc1 .bottom { background: #fff url(https://www.mbank.net.pl/kalkulatory/calc/img/bottom_bg.gif) repeat-x; height: 60px; position: relative;}
#mbr_calc1_container  div.calc1 .bottom .lc { left: 0; position: absolute; width: 10px; height: 59px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/bottom_left.gif) no-repeat; }
#mbr_calc1_container  div.calc1 .bottom .rc { right: 0; position: absolute; width: 10px; height: 59px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/bottom_right.gif) no-repeat; }
#mbr_calc1_container  div.calc1 .content { background: #fff; border-right: solid 1px #c3c3c3; border-left: solid 1px #c3c3c3; }
#mbr_calc1_container  div.calc1 .content .inner { padding: 5px;}
#mbr_calc1_container  div.calc1 .content .header { border-bottom: 1px dashed #B8B9B9; min-width: 130px; width: 100%; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mBankraty-horizontal.gif) no-repeat left top; margin-bottom: 5px; height: 33px; border-bottom: dashed 1px #B8B9B9; }
/*calc1 mBank 5.0 update*/
#mbr_calc1_container {width: 140px;}
#mbr_calc1_container div.calc1 {font: 11px "FS Lola Bold", Arial, sans-serif;}
#mbr_calc1_container p.choices {font:11px/1.22 "Open Sans", Arial, sans-serif; color: #000;}
#mbr_calc1_container p, #mbr_calc1_container div {font-size: 10px;}
#mbr_calc1_container div.calc1 .top {background: none;}
#mbr_calc1_container div.calc1 .bottom {background: #fff; border-left: solid 1px #404138; border-right: solid 1px #404138; height: 44px;}
#mbr_calc1_container p.footer {border-top: dotted 1px #B8B9B9;}
#mbr_calc1_container div.calc1 .content .header {border-top: none; border-bottom: dotted 1px #B8B9B9; padding-bottom: 10px;}
#mbr_calc1_container div.calc1 .content {border-top: solid 1px #404138; border-right: solid 1px #404138; border-left: solid 1px #404138; border-bottom: none;}
#mbr_calc1_container .choices .mb-calc-1 {margin-top: 10px;}
#mbr_calc1_container p.price {margin-top: 10px;}
#mbr_calc1_container div.calc1 .bottom:after{width: 100%; height: 6px; position: absolute; bottom: 0; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc1-footer-bg.png); content: ""}
#mbr_calc1_container p.footer a {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.png) no-repeat; padding: 0px 9px 11px 9px; line-height: 9px; font:10px/1.22 "Open Sans", Arial, sans-serif; text-decoration: none; color: #000; background-position-y: 3px}
#mbr_calc1_container p {color: #CC0522;}

/* -- CALC2 pozioma -- */
#mBank-calc-2 {width: 260px;}
#mBank-calc-2 .center-calc-2 { text-align: center; line-height: 1.5; background: #fff url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_low_lng.jpg) repeat-x left bottom; }
#mBank-calc-2 .top-calc-2 {overflow: hidden; height: 8px;width: 255px; *width: 260px !important; width: 260px\0/ !important; height: 8px;}
#mBank-calc-2 .bottom-calc-2 {width: 255px; position: relative;overflow: hidden; _width: 260px !important; *width: 260px !important; width: 260px\0/ !important;  height: 8px;}
#mBank-calc-2 .tl-calc-2 { width: 8px; height: 8px; float: left; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat 0px 0px; }
#mBank-calc-2 .tr-calc-2 { width: 8px; height: 8px; float: right; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat -8px 0px; }
#mBank-calc-2 .midt-calc-2 {*width: 244px !important; width: 244px\0/ !important; height: 7px; float: left; border-top: 1px solid #c3c3c3; background: #fff; }
#mBank-calc-2 .midb-calc-2 {*width: 244px !important; width: 244px\0/ !important; position: absolute; left: 8px; bottom: 0; height: 7px; float: left; border-bottom: 1px solid #e6e6e6; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_low_shrt.jpg) repeat-x left bottom; }
#mBank-calc-2 .bl-calc-2 { width: 8px; height: 8px; float: left; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat 0px -8px; }
#mBank-calc-2 .br-calc-2 { width: 8px; height: 8px; float: right; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat -8px -8px; }
#mBank-calc-2 div.mbc_text-calc-2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
#mBank-calc-2 div.mbc_text-calc-2 p {padding-left: 3px;margin: 0px; text-align: left;}
#mBank-calc-2 div.mbc_text-calc-2 .mbc_gray-calc-2 { color: #4c4c4c; }
#mBank-calc-2 div.mbc_text-calc-2 .mbc_red-calc-2 { color: #B30000; }
#mBank-calc-2 div.mbc_text-calc-2 .mbc_bold-calc-2 { font-weight: bold; }

#mBank-calc-2 div.mbc_text-calc-2 .mbc_bold-calc-2 { position: relative; }
#mBank-calc-2 div.mbc_text-calc-2 .mbc_bold-calc-2 sup {color: #4B4B4B;}
#mBank-calc-2 div.mbc_text-calc-2 .mbc_bold-calc-2 sup div { width: 220px; z-index: 2000; line-height: 15px; padding: 5px; border: 1px solid #000; background-color:#FAFAFA; position: absolute; top: 25px; left: 0; display: none; font-size: 11px; color: #000; }
#mBank-calc-2 div.mbc_text-calc-2 .mbc_bold-calc-2 sup:hover div { display: block; }

#mBank-calc-2 div.mbc_text-calc-2 .mbc_big-calc-2 { font-size: 18px; }
#mBank-calc-2 div.mbc_text-calc-2 .l { text-align: left; }
#mBank-calc-2 a.tooltip-calc-2 {font:10px/1.22 "Open Sans", Arial, sans-serif; text-decoration: none; color: #000; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.gif) no-repeat left center; padding: 2px 12px;}
#mBank-calc-2 div.spacer-calc-2 { height: 1px; width: 100%; border-bottom: 1px dashed #c3c3c3; margin-bottom: 5px; padding-top: 5px; }
#mBank-calc-2 form.mb-calc-2 { padding: 10px 10px 5px 10px; margin: 0px; text-align: left; display: block; }
#mBank-calc-2 input.mb-calc-2 { margin: 0 5px 0 0; }

#mBank-calc-2.horizontal {width: 255px; _width: 260px !important; *width: 260px !important; width: 260px\0/ !important;}
#mBank-calc-2.horizontal .center-calc-2 { border-left: 1px solid #c3c3c3; border-right: 1px solid #c3c3c3; }
/*#mBank-calc-2.horizontal div.mbc_text-calc-2 { display: inline !important; }*/
#mBank-calc-2.horizontal div.mbc_text-calc-2 .mbc_gray-calc-2 { display: inline !important; }
#mBank-calc-2.horizontal div.mbc_text-calc-2 .mbc_red-calc-2 { display: inline !important; }
#mBank-calc-2.horizontal .midt-calc-2,#mBank-calc-2.horizontal .midb-calc-2 {width: 239px; *width: 244px !important; width: 244px\0/ !important;  }
#mBank-calc-2.horizontal .header {width: 230px; margin: 0 auto;height: 41px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mBankraty-horizontal.gif?v=2) no-repeat 10px center;padding-bottom: 7px;border-bottom: dashed 1px #b8b9b9;}

/*calc2 mBank 5.0 update*/
#mBank-calc-2 .center-calc-2 {background: #fff; position: relative; padding: 10px; width: 234px; border: solid 1px #404138;}
#mBank-calc-2 .center-calc-2 div.header {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mBankraty-horizontal.gif) no-repeat left top; height: 40px; border-bottom: dotted 1px #B8B9B9;}
#mBank-calc-2 .mbc_gray-calc-2 {font:11px/1.22 "Open Sans", Arial, sans-serif; color: #000;}
#mBank-calc-2 div.mbc_text-calc-2 p.mbc_gray-calc-2 {display: inline-block; color: #4b4b4b; margin: 5px 0;}
#mBank-calc-2 div.mbc_text-calc-2 p.mbc_gray-calc-2.rates {font-size: 13px;}
#mBank-calc-2 .mbc_bold-calc-2.mbc_gray-calc-2 {font: 13px "FS Lola Bold", Arial, sans-serif; color: #323435;}
#mBank-calc-2 a.tooltip-calc-2 {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.png) no-repeat; background-position-y: 3px; padding: 0px 9px 11px 9px; line-height: 9px;}
#mBank-calc-2 .center-calc-2:after {width: 100%; height: 6px; position: absolute; bottom: 0; left: 0; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc2-footer-bg.png); content: ""}
#mBank-calc-2 div.spacer-calc-2 {border-bottom: dotted 1px #B8B9B9; margin: 5px 0 10px -10px; padding: 0; width: 234px;}

/*calc3*/
.mBank-calc-3 {font: 15px "FS Lola Bold", Arial, sans-serif; color: #323435;}

/* -- ogolne -- */
#mBank-calc-4 { outline: none; font: 15px "FS Lola Bold", Arial, sans-serif; color: #323435;}
#mBank-calc-4 .center-calc-4 {position: relative; line-height: 1.5; background: #fff url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_low_lng.jpg) repeat-x left bottom; }
#mBank-calc-4 .top-calc-4 {overflow: hidden; height: 8px; }
#mBank-calc-4 .bottom-calc-4 {position: relative; height: 8px;}
#mBank-calc-4 *:focus{outline: none;}
#mBank-calc-4 .logo-calc-4 { padding: 10px 30px 10px 30px; }
#mBank-calc-4 .tl-calc-4 { width: 8px; height: 8px; float: left; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat 0px 0px; }
#mBank-calc-4 .tr-calc-4 { width: 8px; height: 8px; float: left; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat -8px 0px; }
#mBank-calc-4 .midt-calc-4 { height: 7px; float: left; border-top: 1px solid #c3c3c3; background: #fff; }
#mBank-calc-4 .midb-calc-4 {*position: absolute !important; position: absolute\0/ !important; left: 8px; bottom: 11px; _bottom: 10px !important; margin: 0 !important; margin-top: -6px; height: 7px; float: left; border-bottom: 1px solid #e6e6e6; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_low_shrt.jpg) repeat-x left bottom; }
#mBank-calc-4 .bl-calc-4 { width: 8px; height: 8px; float: left; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat 0px -8px; }
#mBank-calc-4 .br-calc-4 {float: right; width: 8px; height: 8px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc_corners_spr.png) no-repeat -8px -8px; }
#mBank-calc-4 div.mbc_text-calc-4 { background:url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.gif) no-repeat scroll 5px 50% transparent;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;margin:0 20px;padding:0 20px;text-align:left;}
#mBank-calc-4 div.mbc_text-calc-4 .mbc_gray-calc-4 { color: #4c4c4c; }
#mBank-calc-4 div.mbc_text-calc-4 .mbc_red-calc-4 { color: #B30000; margin-bottom: 0px; text-align:left !important; }
#mBank-calc-4 div.mbc_text-calc-4 .mbc_red-calc-4-gif {position: absolute; bottom: 0; right: 20px; width: 125px;}
#mBank-calc-4 div.mbc_text-calc-4 .mbc_bold-calc-4 { font-weight: bold; }
#mBank-calc-4 div.mbc_text-calc-4 .mbc_big-calc-4 { font-size: 18px; }
#mBank-calc-4 a.tooltip-calc-4 { text-decoration: none; color: #B30000;font-size: 11px; }
#mBank-calc-4 #mbc_netto, #mbc_ilosc_rat, #mbc_wklad { width: 550px; height: 8px; cursor: pointer;}
#mBank-calc-4 form { width: 550px; margin: 0px auto 0px auto; padding: 2px 0px 2px 0px; }
#mBank-calc-4 form div.field-calc-4 {margin: 12px 0; width: 100%; *margin: 12px 20px !important; width: 12px 20px !important;}
*:first-child+html #mBank-calc-3 form div.field-calc-3 {height: 80px;}
#mBank-calc-4 form div.field-calc-4 div.extras-calc-4 { width: 1px; float: right; }
#mBank-calc-4 form span.currency {float:right;font-family:arial;font-size:17px;margin:3px 0 0;}
#mBank-calc-4 form div.field-calc-4 div.input-calc-4 input[type = "text"] { float: left;font-size:15px;margin-left:130px;padding:5px 5px 5px 3px;width:70px;;font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #303030; padding: 5px; border: solid 1px #d1d0d8; background: #f5f5f5; padding-left: 3px; }
#mBank-calc-4 form div.field-calc-4 div.input-calc-4 input.mbc_small {width: 40px;margin-left: 160px;}
#mBank-calc-4 form div.field-calc-4 div.label-calc-4 { margin: 20px 0;}
#mBank-calc-4 form div.field-calc-4 div.input-calc-4 { overflow: hidden;padding-right: 1px;}
#mBank-calc-4 form div.button-calc-4 { text-align: right; }
#mBank-calc-4 form div.input-calc-4 div.head1{float: left; width: 300px; height: 18px;}
#mBank-calc-4 form div.input-calc-4 div.head2{float: left; width: 300px; height: 18px;}
#mBank-calc-4 form div.input-calc-4 div.head3{float: left; width: 300px; height: 18px;}
#mBank-calc-4 #mbc_summary {margin: 0px 20px; overflow: hidden;text-align: right; }
#mBank-calc-4 #mbc_summary span.amount{ display: block;padding:7px 25px 0; font-family: arial;font-size: 40px;font-weight:bold; color: #B30000;}
#mBank-calc-4 div.spacer-calc-4 { height: 1px; width: 100%; border-bottom: 1px dashed #c3c3c3; margin-bottom: 5px; padding-top: 5px; }
#mBank-calc-4.horizontal-calc-4 { width: 600px; }
#mBank-calc-4.horizontal-calc-4 .center-calc-4 { border-left: 1px solid #c3c3c3; border-right: 1px solid #c3c3c3; }
#mBank-calc-4.horizontal-calc-4 .midt-calc-4 { width: 584px; }
#mBank-calc-4.horizontal-calc-4 .midb-calc-4 { width: 584px; }
#mBank-calc-4 div.header{height: 34px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc-sprites.png) no-repeat scroll 0 -475px transparent; text-indent: -9999px;margin: 15px 0;margin-bottom: 25px;}
#mBank-calc-4 div.clear{clear: both;height: 1px;}

/*calc4 mBank 5.0 update*/
#mBank-calc-4 {width: 600px; padding-top: 40px; border: solid 1px #404138; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mBankraty-horizontal.gif) no-repeat left top transparent; background-color: #fff;}
#mBank-calc-4 .center-calc-4 {background: #fff;}
#mBank-calc-4 #mbc_summary {position: relative;}
#mBank-calc-4 #mbc_summary .literal {position: absolute; top: 22px; left: 0;}
#mBank-calc-4 .head1, #mBank-calc-4 .head2, #mBank-calc-4 .head3, #mBank-calc-4 .literal {color: #B30000; font-size: 20px;}
#mBank-calc-4 div.mbc_text-calc-4 .mbc_red-calc-4 {margin: 0;}
#mBank-calc-4 div.mbc_text-calc-4 {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow.png) no-repeat; padding: 0px 9px 11px 9px; line-height: 9px;}
#mBank-calc-4 .bottom-calc-4:after{width: 100%; height: 10px; position: absolute; bottom: 0; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc4-footer-bg.png); content: ""}
#mBank-calc-4 a.tooltip-calc-4 {}

/* -- CALC5 Link do LP -- */
div.LinkToLandingPageWindow { cursor: pointer; border: none; width: 100px; height: 49px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbankraty_s.gif?v=3); }
div.LinkToLandingPageWindow2 { cursor: pointer; border: none; width: 160px; height: 79px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbankraty_b.gif?v=3); }

/* -- TOOLTIP V1 dla CALC1 -- */
div#descrLayer-calc-1,div#descrLayer-calc-2,div#descrLayer-calc-4 { position: absolute; top: 0; visibility: hidden; text-align: justify; z-index: 9999; }
div#descrLayer-calc-1,div#descrLayer-calc-2,div#descrLayer-calc-4 div { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 2px 5px 3px; border: 1px solid #4d4d4d; background: #ffe; text-align: justify; }

/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }



/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial,sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=cc0000&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=15&borderColorHeader=e3a1a1&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=eeeeee&fcContent=333333&iconColorContent=cc0000&bgColorDefault=eeeeee&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=100&borderColorDefault=d8dcdf&fcDefault=004276&iconColorDefault=cc0000&bgColorHover=f6f6f6&bgTextureHover=04_highlight_hard.png&bgImgOpacityHover=100&borderColorHover=cdd5da&fcHover=111111&iconColorHover=cc0000&bgColorActive=ffffff&bgTextureActive=01_flat.png&bgImgOpacityActive=65&borderColorActive=eeeeee&fcActive=cc0000&iconColorActive=cc0000&bgColorHighlight=fbf8ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcd3a1&fcHighlight=444444&iconColorHighlight=004276&bgColorError=f3d8d8&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=75&borderColorError=cc0000&fcError=2e2e2e&iconColorError=cc0000&bgColorOverlay=a6a6a6&bgTextureOverlay=09_dots_small.png&bgImgOpacityOverlay=65&opacityOverlay=40&bgColorShadow=333333&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=10&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }
.ui-widget-content {/* border: 1px solid #eeeeee;*/ /* background: url('https://www.mbank.net.pl/kalkulatory/calc/img/blue.png') repeat scroll 0 0 transparent;*/ color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e3a1a1; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/red.png); color: #ffffff; font-weight: bold; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;  -webkit-border-radius: 4px 0 0 4px;  }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/mbc-sprites.png) no-repeat scroll 0 -192px transparent; font-weight: bold; color: #004276; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #004276; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { font-weight: bold; color: #111111; }
.ui-state-hover a, .ui-state-hover a:hover { color: #111111; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {font-weight: bold; color: #cc0000; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #cc0000; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcd3a1; background: #fbf8ee url(https://www.mbank.net.pl/kalkulatory/calc/bin/images/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cc0000; background: #f3d8d8 url(https://www.mbank.net.pl/kalkulatory/calc/bin/images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat; color: #2e2e2e; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #2e2e2e; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #2e2e2e; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }



/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #a6a6a6 url(https://www.mbank.net.pl/kalkulatory/calc/bin/images/ui-bg_dots-small_65_a6a6a6_2x2.png) 50% 50% repeat; opacity: .40;filter:Alpha(Opacity=40); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #333333 url(https://www.mbank.net.pl/kalkulatory/calc/bin/images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x; opacity: .10;filter:Alpha(Opacity=10); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*
 * jQuery UI Slider @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 23px; height: 30px; cursor: pointer; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -12px; margin-left: -11px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

#opis {color: #fff;}
#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
    font-size: 9px;
    font-family: verdana;
    }   


/*calc 7*/
.mbank-calc .button span, .mbank-calc span.bkg {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; cursor: pointer;}
.calcContainer {position: absolute;}
.calcContainer p, .calcContainer .literal{margin: 0; padding: 0; font-size: 16px; font-family: "FS Lola Bold", Arial, sans-serif;}
.calcContainer .calculator {width: 330px; }
.calcContainer .calculator .calc-head {background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc-head.png); height: 47px;}
.calcContainer .calculator .calc-head p {font-size: 26px; line-height: 47px; padding: 0 10px;}
.calcContainer .calculator .calc-data {background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc-content-bg.png); height: 220px; padding-top: 10px;}
.calcContainer .calculator .calc-data div {margin: 20px 0;}
.calcContainer .calculator .calc-data .inputs {position: relative;}
.calcContainer .calculator .calc-data .inputs span.customize-buttons {position: absolute; width: 24px; height: 39px; right: 2px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/elements.png) no-repeat -88px 5px; top: -17px;}
.calcContainer .calculator .calc-data .inputs span.customize-buttons span {position: absolute; font-size: 20px; color: #0c6fb9; font-weight: bold; cursor: pointer;}
.calcContainer .calculator .calc-data .inputs span.customize-buttons span.plus {top: 0px; left: 7px;}
.calcContainer .calculator .calc-data .inputs span.customize-buttons span.minus {bottom: 0; left: 10px;}
.calcContainer .calculator .result {background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/result-bg.png); height: 52px;}
.calcContainer .calculator .result p {line-height: 52px; position: relative; padding: 0 0 0 20px;}
.calcContainer .calculator .result .result-value {font-size: 30px; position: absolute; top: 3px; right: 0px; background: none; border: none; -webkit-box-shadow: none; box-shadow: none; color: #323435;}
.calcContainer .calculator .calc-footer {background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc-footer.png); height: 100px;}
.calcContainer .calculator .calc-footer .continue {text-align: center; padding: 15px 0;}
.calcContainer .calculator .calc-footer .continue a.button.next {font-size: 19px; padding: 10px 60px 10px 40px;}
.calcContainer .literal {display: inline-block; margin: 0 20px 0 0; width: 80px; text-align: right;}
.calcContainer .calculator .calc-footer .noteBtn p {position: relative; padding-left: 30px;  cursor: pointer;}
#calcRsso {display: inline;}
.mbank-calc .calcContainer .calculator .calc-footer .noteBtn p span {position: absolute; width: 8px; height: 10px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/elements.png) no-repeat -25px 0; left: 10px; top: 5px;}
.mbank-calc .calcContainer .calculator .calc-footer .rsso {display: none;}
.mbank-calc .note, #tooltip {display: none; position: absolute; width: 1075px; height: 210px; left: 80px; top: -220px; background: #fff; text-shadow: none;}
.mbank-calc .note p, #tooltip {color: #323435; padding: 20px 10px 0 10px; line-height: 15px;}
.mbank-calc .note, #tooltip {-webkit-box-shadow: 2px 0px 11px rgba(50, 50, 50, 0.75); -moz-box-shadow: 2px 0px 11px rgba(50, 50, 50, 0.75); box-shadow: 2px 0px 11px rgba(50, 50, 50, 0.75);}
.mbank-calc .note span.curret {width: 0px; height: 0px; border-style: solid; border-width: 13px 10px 0 10px; border-color: #ffffff transparent transparent transparent; border-style: inset; -webkit-transform:rotate(360deg); position:absolute;}
.mbank-calc .note span.curret{bottom: -13px; left: 10px;}
.mbank-calc .note.second {top: 90px; height: 300px; cursor: auto;}
.mbank-calc .note.second p {font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 11px;}
.mbank-calc .note a {color: #323435;}
.mbank-calc .note a:hover {text-decoration: underline; color: #000;}
.mbank-calc .note .close {position: absolute; top: 5px; right: 10px; font-weight: bold; cursor: pointer;}
.mbank-calc #result-value {padding: 0 10px 5px 0;}
.mbank-calc .fl {float: left;}
.mbank-calc .fr {float: right;}
#tooltip {border: none; height: auto; padding-bottom: 10px; padding-top: 10px; width: auto;}


.mbank-calc .button {position: relative; display: inline-block; padding: 4px 8px; color: #373738 !important; font: 11px/1.22 "Open Sans", Arial, sans-serif; text-indent: 0; text-align: center; text-decoration: none !important; text-shadow: 1px 1px 0 #e4e1d9; cursor: pointer; vertical-align: bottom;}
.mbank-calc .button {
    background: #e8eaeb;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZWFlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWMwYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, #e8eaeb, #bec0c1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8eaeb), to(#bec0c1));
    background-image: -webkit-linear-gradient(top, #e8eaeb, #bec0c1);
    background-image: -o-linear-gradient(top, #e8eaeb, #bec0c1);
    background-image: -ms-linear-gradient(top, #e8eaeb, #bec0c1);
    background-image: linear-gradient(top, #e8eaeb, #bec0c1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8eaeb', endColorstr='#bec0c1', GradientType=0);
}
.mbank-calc .button {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.mbank-calc .button {-moz-box-shadow: 1px 1px 0 rgba(96, 96, 96, 0.5); -webkit-box-shadow: 1px 1px 0 rgba(96, 96, 96, 0.5); box-shadow: 1px 1px 0 rgba(96, 96, 96, 0.5);}
.mbank-calc .button {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.mbank-calc .ie6 .button {color: #fff !important; vertical-align: middle;}
.mbank-calc .ie7 .button {padding: 4px 8px 4px; zoom: 1;}
.mbank-calc .ie8 .button {padding: 4px 8px 4px;}
.mbank-calc .ie8 .button {color: #000 !important;}
.mbank-calc .button.next {padding-right: 20px;}
.mbank-calc .button.next span {left: auto; right: 0; width: 12px; height: 17px; margin: 14px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/elements.png) no-repeat -13px 0;}
.mbank-calc .button:hover {
    background: #bec0c1;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlYzBjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGVhZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, #bec0c1, #e8eaeb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bec0c1), to(#e8eaeb));
    background-image: -webkit-linear-gradient(top, #bec0c1, #e8eaeb);
    background-image: -o-linear-gradient(top, #bec0c1, #e8eaeb);
    background-image: -ms-linear-gradient(top, #bec0c1, #e8eaeb);
    background-image: linear-gradient(top, #bec0c1, #e8eaeb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bec0c1', endColorstr='#e8eaeb', GradientType=0);
}
.mbank-calc .button.red {color: #fff !important; font: 11px/1.22 "Open Sans Bold", Arial, sans-serif; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);}
.mbank-calc .button.red {
    background: #f31e2f;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzMWUyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMTIwMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, #f31e2f, #d1202e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f31e2f), to(#d1202e));
    background-image: -webkit-linear-gradient(top, #f31e2f, #d1202e);
    background-image: -o-linear-gradient(top, #f31e2f, #d1202e);
    background-image: -ms-linear-gradient(top, #f31e2f, #d1202e);
    background-image: linear-gradient(top, #f31e2f, #d1202e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f31e2f', endColorstr='#d1202e', GradientType=0);
}
.mbank-calc .button.red:hover {
    background: #d1202e;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzMWUyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMTIwMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, #d1202e, #f31e2f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d1202e), to(#f31e2f));
    background-image: -webkit-linear-gradient(top, #d1202e, #f31e2f);
    background-image: -o-linear-gradient(top, #d1202e, #f31e2f);
    background-image: -ms-linear-gradient(top, #d1202e, #f31e2f);
    background-image: linear-gradient(top, #d1202e, #f31e2f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1202e', endColorstr='#f31e2f', GradientType=0);
}
.mbank-calc input {color: #d1202e; font: 31px "FS Lola Bold", Arial, sans-serif; text-align: right;}
.mbank-calc input[type=text] {border: 1px solid; border-color: #acacac #d1d1d1 #d1d1d1;}
.mbank-calc input[type=text] {width: 170px; height: 45px; padding: 2px 30px 2px 4px;line-height: 1; vertical-align: baseline;}
.mbank-calc input[type=text] {border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);}
.mbank-calc input[type=text] {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mbank-calc input[type=text]:hover {border-color: #999 #bbb #bbb;}
.mbank-calc input[type=text]:focus {border-color: #999 #bbb #bbb; background: #ffffe3; outline: none;}


/* calc7*/
.calc7 .cs-scrollBarHolder { background: #5f5; position: absolute; width: 10px; height: 100%; top: 0; right: 0;} 
.calc7 .cs-scrollBar { background: #ffa; width:10px; height:30px; position: absolute; top: 0; left: 0; cursor: pointer;} 
.calc7 .cs-inner-container {position: absolute; top: 0; left: 0;}

.calc7 {position: relative; width:225px; padding: 10px 5px 0 5px; height: 60px; border: 1px solid; background: #fff;}
.calc7 .logo {display: block; width: 66px; height: 44px; background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/calc7_logo.png); float: left; margin-right: 5px;}
.calc7.mbank-calc p {margin: 0; padding: 0; font:11px/1.12 "Open Sans", Arial, sans-serif; color: #000; word-spacing: 0; text-align: left;}
.calc7 .legalNote {display: none; position: absolute; top: -60px; left: 10px; background: #41413f; border-radius: 2px;}
.calc7 .legalNote .content {padding: 8px 10px;}
.calc7 .legalNote .content p{color: #ccc; text-align: justify; word-wrap: break-word;}
.calc7 p.legalNoteLabel {display: inline-block; font-size: 10px; padding-top: 15px;}
.calc7 .legalNoteLabel:hover {text-decoration: underline; cursor: pointer;}
.calc7 .kwota span {font-size: 16px; color: #279d2d; font-weight: bold;}
.calc7 .button.red.count {position: absolute; top: 13px; right: 5px; padding: 8px 16px 8px 6px; font-size: 14px; width: 50px; height: 20px;}
.calc7 .scrollBarHolder.cs-scrollBarHolder {background: #9f9f9e; border-radius: 10px; width: 6px; margin-right: 3px;}
.calc7 .scrollBarHolder .scrollBar {background: #808080; border-radius: 10px; left: -1px; right: 4px; width: 8px;}
.calc7 span.arrow {width: 66px; height: 44px; background: url(https://www.mbank.net.pl/kalkulatory/calc/img/arrow2.png) no-repeat; float: left; margin-right: 5px; position: absolute;left: 153px; bottom: -22px; display: none;}
.calc7 a.button.red.count span {background: url(https://www.mbank.net.pl/kalkulatory/calc/img/buttonArrow.png) no-repeat 0 0; top: 6px; left: 55px; width: 14px; height: 20px;}
.calc7.new .logo {background-image: url(https://www.mbank.net.pl/kalkulatory/calc/img/logo66x44_new.png);}
#mbr_calc1_container.mbank-calc.new div.calc1 .content .header{background: url('https://www.mbank.net.pl/kalkulatory/calc/img/logo130x51_new.gif') no-repeat left top; width: 140px; height:51px;}
#mBank-calc-2.mbank-calc.new .center-calc-2 {width: 280px;}
#mBank-calc-2.mbank-calc.new .center-calc-2 .header{background: url('https://www.mbank.net.pl/kalkulatory/calc/img/logo130x51_new.gif') no-repeat left top; width: 130px; height:60px;}
#mBank-calc-4.mbank-calc.new {background: url("https://www.mbank.net.pl/kalkulatory/calc/img/logo130x51_new.gif") no-repeat scroll left top #FFFFFF; padding-top: 51px;}
.LinkToLandingPageWindow.new {background: url("https://www.mbank.net.pl/kalkulatory/calc/img/logo100x49_new.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.LinkToLandingPageWindow2.new {background: url("https://www.mbank.net.pl/kalkulatory/calc/img/logo160x60_new.gif") repeat scroll 0 0 rgba(0, 0, 0, 0); height: 60px;}
