<div class="tekst">
    <i class="fas fa fa-lock"></i><span><?= __('You are in a secure ordering area for MoreThanLighting.com')?></span>
</div>
<!--<script>-->
<!--    require(['jquery'], function ($) {-->
<!--       function test() {-->
<!--           console.log('tessstt')-->
<!--       }-->
<!--    })-->
<!--</script>-->