<script>
    require(['jquery','owlcarousel'], function ($, owlCarousel) {
        var carousel = $('.owl-prod');
        carousel.on({

            'initialized.owl.carousel': function () {
                carousel.find('.item').show();
                carousel.find('.loading-placeholder').hide();
            }

        }).owlCarousel({
            responsive: {
                0: {
                    items: 2
                },
                480: {
                    items: 2
                },
                768: {
                    items: 3
                },
                992: {
                    items: 4
                },
                1200: {
                    items: 4
                }
            },
            autoplay: false,
            lazyLoad: true,
            loop: true,
            nav: true, // Show next and prev buttons
            dots: false,
            autoplaySpeed: 500,
            navSpeed: 200,
            dotsSpeed: 500,
            autoplayHoverPause: true,
            margin: 18,
            slideBy: 4
        });
    })
</script>
<script type="text/javascript" xml="space">
    require(['jquery','owlcarousel'],
        function ($, owlCarousel) {
            $( document ).ready(function() {
                var news_slider = $(".block-viewed-products-grid .product-items");
                news_slider.owlCarousel({
                    responsive:{
                        0:{
                            items:1
                        },
                        480:{
                            items:1
                        },
                        768:{
                            items:1
                        },
                        992:{
                            items:1
                        },
                        1200:{
                            items:1
                        }
                    },
                    autoplay:false,
                    loop:true,
                    nav : false, // Show next and prev buttons
                    dots: true,
                    autoplaySpeed : 500,
                    navSpeed : 500,
                    dotsSpeed : 500,
                    autoplayHoverPause: true,
                    margin: 0,
                });
            });
        })

</script>