<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View\Addto\Compare */
?>

<a href="#" title="<?= __('Add to Compare') ?>" data-post='<?= /* @escapeNotVerified */ $block->getPostDataParams() ?>'
        data-role="add-to-links"
        class="action tocompare"><span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span></a>
