<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
<div class="toolbar-top">
    <?= $block->getToolbarHtml() ?>
</div>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                        <?php
                        $now = date("Y-m-d");
                        $newsFrom = substr($_product->getNewsFromDate(), 0, 10);
                        $newsTo = substr($_product->getNewsToDate(), 0, 10);
                        if (($newsTo != '' || $newsFrom != '')){
                            if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {
                                ?>

                                <div class="label-product label-new">
                                    <span class="new-product-icon"></span>
                                </div>
                            <?php  }
                        }?>
                        <?php
                        $specialprice = $_product->getSpecialPrice();
                        if ($specialprice) { ?>
                            <div class="label-product label-sale">
                                <span class="sale-product-icon"></span>
                            </div>
                        <?php  } ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>
                        <div class="catalog-product-icons">
                            <?php
                            $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
                            $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                            $storeID       = $storeManager->getStore()->getStoreId();
                            $shiping24 = null;
                            $shiping48 = null;
                            $shiping72 = null;
                            $shippingCode = $_product->getData('availability');
                            if($shippingCode == 67){
                                $shiping48 =1;
                            } elseif ( $shippingCode == 91){
                                $shiping72 = 1;
                            }
                            if($storeID == 1) {
                                $free_ship = $_product->getData('free_shipping');
                            }else{
                                $free_ship = null;
                            }
                            $rabat = $_product->getResource()->getAttribute('sote_rabat')->getFrontend()->getValue($_product);
                            $configuable_prod = $_product->getTypeId() == 'configurable';
                            ?>
                            <div class="<?php if ($shiping24): ?>product-shipment<?php endif?><?php if ($shiping48): ?>product-shipment-48<?php endif?><?php if ($shiping72): ?>product-shipment-72<?php endif?> icon-product"></div>
                            <div class="<?php if ($free_ship): ?>product-supply<?php endif?> icon-product"></div>
                            <div class="<?php if ($rabat == '5'): ?> product-discount <? endif;
                            if ($rabat == '10'): ?>product-discount-10<?php endif;
                            if ($rabat == '15'): ?>product-discount-15<?php endif; ?> icon-product"></div>
                            <?php
                            if($configuable_prod) {
                                $productAttributeOpts = $_product->getTypeInstance()->getConfigurableAttributesAsArray($_product);
                                $arr = array_column($productAttributeOpts, 'frontend_label');
                                ?>
                                <div class="<?php if ($configuable_prod): ?>product-configurable<?php endif?> icon-product"></div>
                                <span class="display-on-hover product-configurable" style="display: none"><?php if(isset($arr[0])) print_r($arr[0]); ?></span>
                                <?php
                            } ?>

                            <span class="display-on-hover product-shipment" style="display: none"><?= __('express shipping 24-48h');?></span>
                            <span class="display-on-hover product-shipment-72" style="display: none"><?= __('fast shipping 48-72h');?></span>
                            <span class="display-on-hover product-supply" style="display: none"><?= __('free shipping')?></span>
                            <span class="display-on-hover product-discount" style="display: none"><?= __('log in and buy 5% cheaper')?></span>
                            <span class="display-on-hover product-discount-10" style="display: none"><?= __('log in and buy 10% cheaper')?></span>
                            <span class="display-on-hover product-discount-15" style="display: none"><?= __('log in and buy 15% cheaper')?></span>
                        </div>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        <?= $block->getProductDetailsHtml($_product) ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                       class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
<div class="tolbar-bottom">
    <?= $block->getToolbarHtml() ?>
</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
