<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid_home_page_sidebar';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="owl-sidebar product-items <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                                <?php
                                $now = date("Y-m-d");
                                $newsFrom = substr($_item->getNewsFromDate(), 0, 10);
                                $newsTo = substr($_item->getNewsToDate(), 0, 10);
                                if (($newsTo != '' || $newsFrom != '')){
                                    if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {
                                        ?>

                                        <div class="label-product label-new">
                                            <span class="new-product-icon"></span>
                                        </div>
                                    <?php  }
                                }?>
                                <?php
                                $specialprice = $_item->getSpecialPrice();
                                if ($specialprice) { ?>
                                    <div class="label-product label-sale">
                                        <span class="sale-product-icon"></span>
                                    </div>
                                <?php  } ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>

                                <div class="catalog-product-icons">
                                    <?php
                                    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
                                    $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                    $storeID       = $storeManager->getStore()->getStoreId();
                                    $shiping24 = null;
                                    $shiping48 = null;
                                    $shiping72 = null;
                                    $shippingCode = $_item->getData('availability');
                                    if($shippingCode == 67){
                                        $shiping48 =1;
                                    } elseif ( $shippingCode == 91){
                                        $shiping72 = 1;
                                    }
                                    if($storeID == 1) {
                                        $free_ship = $_item->getData('free_shipping');
                                    }else{
                                        $free_ship = null;
                                    }
                                    $rabat = $_item->getResource()->getAttribute('sote_rabat')->getFrontend()->getValue($_item);
                                    $configuable_prod = $_item->getTypeId() == 'configurable';
                                    ?>
                                    <div class="<?php if ($shiping24): ?>product-shipment<?php endif?><?php if ($shiping48): ?>product-shipment-48<?php endif?><?php if ($shiping72): ?>product-shipment-72<?php endif?> icon-product"></div>
                                    <div class="<?php if ($free_ship): ?>product-supply<?php endif?> icon-product"></div>
                                    <div class="<?php if ($rabat == '5'): ?> product-discount <? endif;
                                    if ($rabat == '10'): ?>product-discount-10<?php endif;
                                    if ($rabat == '15'): ?>product-discount-15<?php endif; ?> icon-product"></div>
                                    <?php
                                    if($configuable_prod) {
                                        $productAttributeOpts = $_item->getTypeInstance()->getConfigurableAttributesAsArray($_item);
                                        $arr = array_column($productAttributeOpts, 'frontend_label');
                                        ?>
                                        <div class="<?php if ($configuable_prod): ?>product-configurable<?php endif?> icon-product"></div>
                                        <span class="display-on-hover product-configurable" style="display: none"><?php if(isset($arr[0])) print_r($arr[0]); ?></span>
                                        <?php
                                    } ?>

                                    <span class="display-on-hover product-shipment" style="display: none"><?= __('express shipping 24-48h');?></span>
                                    <span class="display-on-hover product-shipment-72" style="display: none"><?= __('fast shipping 48-72h');?></span>
                                    <span class="display-on-hover product-supply" style="display: none"><?= __('free shipping')?></span>
                                    <span class="display-on-hover product-discount" style="display: none"><?= __('log in and buy 5% cheaper')?></span>
                                    <span class="display-on-hover product-discount-10" style="display: none"><?= __('log in and buy 10% cheaper')?></span>
                                    <span class="display-on-hover product-discount-15" style="display: none"><?= __('log in and buy 15% cheaper')?></span>
                                </div>
                                <?php if ($templateType): ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>
                                <?php
                                echo $block->getProductPriceHtml($_item, $type);
                                ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="actions-secondary" data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                    <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>

<script>
    require(['jquery','owlcarousel'], function ($, owlCarousel) {
        var carousel = $('.owl-sidebar');
        carousel.on({

            'initialized.owl.carousel': function () {
                carousel.find('.product-item').show();
                carousel.find('.loading-placeholder').hide();
            }

        }).owlCarousel({
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                768: {
                    items: 1
                },
                992: {
                    items: 1
                },
                1200: {
                    items: 1
                }
            },
            autoplay: false,
            lazyLoad: true,
            loop: true,
            nav: true, // Show next and prev buttons
            dots: false,
            autoplaySpeed: 500,
            navSpeed: 500,
            dotsSpeed: 500,
            autoplayHoverPause: true,
        });
    })
</script>