.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m)  {

    .catalog-product-view {
      .product-options-wrapper{
        .fieldset{
          .label{
            font-weight: 400;
            margin: 0 0 4px;
          }
        }
      }
      .product-social-links{
        .printdiv{
          float: right;
          height: 40px;
          border-left: none !important;
          border: 1px solid #e3e1e1;
          width: 42px;
          line-height: 40px;
          a:hover{
            text-decoration: none;
          }
          i.fa-print{
            color: #666666;
            line-height: 40px;
            font-size: 21px;
            text-align: center;
            display: block;
          }
          &:hover{
            background-color: #a9885f;
            border: 1px solid #a9885f !important;
            i.fa-print{
              color: white;
            }
          }
    }
  }
  button {
    border-radius: 0;
  }
  .recommend{
    .mailto{
      color: #333333;
      span{
        color: #333333;
      }
    }
  }
  .product-info-main {
    .price-box {
      .special-price {
        line-height: 18px;
        position: relative;
        top: -5px;
        .price {
          color: #ff6275
        }
      }

      .price-final_price {
        .price {
        }
      }

      .old-price {
        display: block;
        position: absolute;
        margin-left: 0;
        margin-top: -15px;
        .price-wrapper {
          .price {
            color: #afafaf;
            text-decoration-line: line-through;
            text-decoration-color: #afafaf;
            text-decoration-style: unset;
          }
        }


        .price-label {
          display: inline-block !important;
          font-size: 14px;
          margin-right: 5px;
          font-weight: 300;
          color: #333333;
        }
      }
    }
  }
  .print{
    .fa-print{
      color: #818181;
      font-size: 25px;
    }
  }
  .product.attribute.custom_desc{
    width: 50%;
    float: left;
  }

  .qty-changer{
    display: inline-block;
    margin-right: 5px;
  }
  .field.qty a.qty-inc{
    padding: 5px;
    display: inline-block;
    color: @color-lampy-zloty;
  }
  .field.qty a.qty-dec{
    padding: 5px;
    display: inline-block;
    margin-left: 5px;
    color: @color-lampy-zloty;
  }
  #open-modal:first-child #modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 10px;
      display: inline-block;
      border: 1px solid #888;
      width: 80%;
    }
  }

  .rating-summary .rating-result > span:before {
    color: @color-lampy-zloty;
  }
  .review-control-vote label:before{
    color: @color-lampy-zloty;
  }
  .data.switch .counter {
    color: white;
  }

  .reviews-actions {
    a {
      color: #333333;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .salealbe {
    text-align: right;
    float: right;
  }

  .fotorama__nav__frame{
    box-sizing: content-box !important;
  }
  .fotorama-item {
    .fotorama__stage {
      border: 1px solid #e3e1e1;
      transform: unset !important;
    }
  }
  .fotorama--fullscreen{
    .fotorama__stage{
      margin-bottom: 0 !important;
    }
    .fotorama__thumb-border{
      border-color: @color-lampy-zloty;
    }
    .fotorama__wrap{
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .fotorama-item.fotorama .fotorama__active img:hover {
    cursor: zoom-in;
  }

  .fotorama__arr.fotorama__arr--next {
    transform: translate3d(120px, 0, 0)
  }

  .fotorama__arr.fotorama__arr--prev {
    transform: translate3d(-120px, 0, 0)
  }

  .fotorama__wrap--toggle-arrows:hover .fotorama__arr.fotorama__arr--next {
    transform: unset
  }

  .fotorama__wrap--toggle-arrows:hover .fotorama__arr.fotorama__arr--prev {
    transform: unset
  }

  .col-width-50 {
    width: 50%;
  }

  .old-price {
    display: inline-block;
    margin-left: 5px;
  }

  .special-price {
    display: inline-block;
  }

  .product-info-main {
    .page-title {
      line-height: 24px;
      .base {
        font-family: Open Sans;
        font-size: 24px;
        display: block;
        height: 72px;
        color: #444444;
        overflow: hidden;
        font-weight: 700;
      }
    }

    width: 49%;

    .price-label {
      display: none !important;
    }

    .product-reviews-summary {
      display: inline-block;
    }

    .product-social-links {
      text-align: right;
      display: inline-block;
      float: right;
      width: auto;
      margin-bottom: 0;
      margin-top: -20px;
      position: relative;
      .fbl-ready{
        display: inline-block;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: -100px;
      }
      .product-addto-links {
        float: right;

        a {
          margin-right: 0;

          &.action {
            width: 42px;
            height: 40px;
            border-radius: 0;
            text-indent: -999em;
            display: inline-block;
            margin: 0 !important;
            float: left;
            border: 1px solid #e3e1e1 !important;
            border-right: none !important;
            background-color: #fff;
            background-image: url(../images/ikony3.svg);
            background-size: 300px 320px;
            background-repeat: no-repeat;

            &:hover {
              background-color: @color-lampy-zloty;
              border: 1px solid @color-lampy-zloty !important;
              margin-right: 0 !important;
            }

            &.towishlist {
              background-position: -204px -121px;

              &:hover {
                background-position: -254px -121px;
              }
            }

            &.tocompare {
              background-position: -204px -80px;
              border-right: 1px solid #e3e1e1 !important;

              &:hover {
                background-position: -254px -80px;
              }
            }
          }

          span {
            display: none;
          }
        }
      }

      .mailto {
        display: none;
      }
    }

    .product-icons {
      display: block;
      float: left;
      width: 100%;
      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #e3e1e1;
      border-top: 1px solid #e3e1e1;

      .product.attribute {
        text-align: center;

        &.manufacturer {
          .image {
            background: url("@{baseDir}images/fabryka.svg") no-repeat;
          }
        }

        .image {
          width: 35px;
          margin: auto;
          height: 40px;
        }

        &.availability {
          .image {
            display: none;
          }
          .dostawa,.delivery{
            display: block;
            &.dost-48{
              &:before {
                content: "";
                display: block;
                background-image: @dostawa48h-gold-50x40;
                width: 50px;
                margin: auto;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
              }
          }
            &.dost-72 {
              display: block !important;

              &:before {
                content: "";
                display: block;
                background-image: @dostawa72h-gold-50x40;
                width: 50px;
                margin: auto;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
          .image_attibute_dostawa{
            display: block !important;
            &:before{
              content: "";
              display: block;
              width: 50px;
              margin: auto;
              height: 40px;
              background-image: url(../images/ikony3.svg);
              background-repeat: no-repeat;
              background-position: -55px -121px;
            }
          }
        }

        &.free_shipping {
          .image {
            display: none;
          }

          .Tak {
            display:  block;
            &:before {
              content: "";
              display: block;
              background-image: @wysylka-0-gold-50x40;
              width: 50px;
              margin: auto;
              height: 40px;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

        }
        &.empty{
          .value.nie{
            display: block;
            &:before{
              content: "";
              display: block;
              width: 50px;
              margin: auto;
              height: 40px;
              background-image: url(../images/ikony3.svg);
              background-repeat: no-repeat;
              background-position: -150px -40px;
            }
          }
        }
      }

      .stock {
        margin: 0;
      }

      .produkt_dostepny {
        .image {
          content: "";
          display: block;
          background: url("@{baseDir}images/dostepny.svg") no-repeat;
          width: 35px;
          margin: auto;
          height: 40px;
          position: relative;
          top: 5px;
        }
      }

      .produkt_niedostepny {
        .image {
          content: "";
          display: block;
          background: url("@{baseDir}images/niedostepny.svg") no-repeat;
          width: 35px;
          margin: auto;
          height: 40px;
          position: relative;
          top: 5px;
        }
        &~.availability{
          display: none;
        }
        &~.attribute.empty{
          display: none;
        }
        &~.attribute.free_shipping{
          display: none;
        }
      }
    }

    .product-box {
      display: block;
      float: left;
      width: 100%;
      padding-bottom: 5px;
      padding-top: 22px;
      border-bottom: 1px solid #e3e1e1;
      text-align: center;
      height: 82px;
      .price-installment{
        position: relative;
        top: -5px;
      }
      .padding_0 {
        padding: 0;
        position: relative;
        top: 5px;

        span {
          vertical-align: super;
          margin-left: 5px;
        }
      }

      .m-bank {
        top: -13px;
        .calc7.mbank-calc{
          height: 0;
          border: none;
          p{
            display: none;
          }
          .logo{
            margin: 0;
          }
          .button.red.count{
           left: 80px;
            right: unset;
            padding: 2px;
            top: 18px;
            span{
              top: 0;
            }
          }
      }
      }
    }

    .product-info-price {
      border-bottom: 1px solid #e3e1e1;
      .price-box {
        padding-top: 20px;
        padding-bottom: 19px;
      }
    }

    .product-add-form {
      .box-tocart {
        text-align: right;
        position: relative;
        top: -94px;

        .field.qty {
          height: 40px;
          display: inline;

          .control {
            display: inline-block;

            input {
              height: 40px;
            }
          }
        }

        .actions {
          display: inline;

          .action.primary.tocart {
            margin-bottom: 0;
            margin-right: 0;
            width: 30%;
            font-size: 16px;
            height: 40px;
            font-weight: 300;
            line-height: 40px;
            padding: 0;

            span {
              &:before {
                content: "";
                width: 30px;
                height: 23px;
                vertical-align: middle;
                background: url("@{baseDir}images/checkout.png") no-repeat;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .product-info-stock-sku {
      display: inline-block;
      padding-bottom: 0;
      padding-left: 0;
      text-align: center;
      width: 25%;
      float: left;
      vertical-align: unset;

      .stock.available, .stock.unavailable {
        font-weight: 400;
        text-transform: inherit;
      }
    }

    .custom-baners {
      position: relative;
      top: -80px;

      .product.attribute.sote_rabat {
        float: left;
      }
    }
  }

  .product.media {
    width: 49%;
    margin-bottom: 50px;
    .fotorama__nav-wrap{
      margin-top: 15px;
    }
    .fotorama__thumb {
      background-color: unset;
    }

    .fotorama__thumb-border {
      border: 1px solid @color-lampy-zloty
    }
  }
}

.page-product-configurable {
  .prices-tier{
    margin-bottom: 0 !important;
  }
  .product-add-form {
    position: relative;
    top: -75px;
    padding-top: 0;

    .product-options-wrapper {
      .fieldset {
        .field{
          width: 50%;
          display: inline-block;
        }
        .control {
          [generated="true"].mage-error {
            position: absolute;
          }
        }
      }
    }
  }
  .custom-baners {
    position: relative;
    top: -75px !important;
  }

  .product-options-bottom {
    .box-tocart {
      margin-top: 40px;
      top: -12px !important;

      .fieldset {
        text-align: right;

        .qty {
          height: 40px;
          display: inline;

          .control {
            display: inline-block;
          }
        }

        .actions {
          display: inline;
        }

        &:last-child {
          margin-bottom: 27px;
        }
      }
    }

    .action.primary.tocart {
      margin-bottom: 0;
      margin-right: 0;
      width: 30%;
      font-size: 16px;
      height: 40px;
      font-weight: 300;
      line-height: 40px;
      padding: 0;

      span {
        &:before {
          content: "";
          width: 30px;
          height: 23px;
          vertical-align: middle;
          background: url("@{baseDir}images/checkout.png") no-repeat;
          display: inline-block;
        }
      }
    }
  }

  .product-info-price {
    margin-bottom: 0;
    position: relative;
    top: 91px;
    border-top: 1px solid #e3e1e1;

    .price-box {
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
}
}
