.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .sidebar-main {

    .filter-content {
      .filter-options-item {
        .filter-options-content {
          display: block !important;

          .count {

          }

          @-moz-document url-prefix() {
            .items {
              scrollbar-color: #808080 #ffffff;
              scrollbar-width: thin;
            }
          }
        }
      }
    }
  }
  .sidebar-additional {
    width: 21% !important;
    padding: 0 !important;
    .product-item{
      overflow: hidden;
    }
    .last-products {
      .product-item-info{
        &:hover{
          .product-item-inner{
            right: 0;
            visibility: visible;
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;

          }
        }
        .product-item-actions{
          display: -webkit-box;
          margin: 0;
          height: 40px;
          background: #ffffff;
          border-top: none;
          position: absolute;
          visibility: hidden;
          right: -63%;
          z-index: 2;
          top: 90px;
          transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s;
          .actions-primary{
            display: inline-block;
          }
          .actions-secondary{
            padding-left: 0;
          }
          .tocart{
            background-position: -205px -1px;
            &:hover{
              background-position: -255px -1px !important;
            }
          }
          .custom_tocart{
            background-position: -205px -1px;
            &:hover{
              background-position: -255px -1px !important;
            }
          }
          .towishlist{
            background-position: -204px -121px;
            &:hover{
              background-position: -254px -121px;
            }
          }
          .tocompare {
            background-position: -204px -80px;
            border-right: 1px solid #e3e1e1 !important;
            &:hover{
              background-position: -254px -80px;
            }
          }
        }
        .action{
          width: 42px;
          height: 40px;
          border-radius: 0px;
          text-indent: -999em;
          display: inline-block;
          margin: 0 !important;
          float: left;
          border: 1px solid #e3e1e1 !important;
          border-right: none !important;
          background-color: #fff;
          background-image: url(../images/ikony3.svg) !important;
          background-size: 300px 320px;
          background-repeat: no-repeat;
          &:hover{
            background-color: @color-lampy-zloty;
            border: 1px solid @color-lampy-zloty !important;
            margin-right: 0 !important;
          }
        }
        &:hover {
          .product-item-actions {
            right: 0;
            visibility: visible;
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
          }
        }
      }
      .product-item-photo {
        width: 40%;
        display: inline-block !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      .product-item-details {
        float: right;
        width: 60%;
        display: inline-block !important;
        height: 130px;
      }
    }
  }
  #amasty-shopby-product-list .toolbar-products {
    .limiter {
      display: inline-block;
    }

    select {
      background: #ffffff;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 7px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 7px;
  }

  input[type="checkbox"] {
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
  }
  input[type="radio"] {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
  }
  .amasty-catalog-topnav {
    display: none;
  }
  .product-item-name {
    a {
      font-size: 16px;
    }
  }
}