.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .customer-account-logoutsuccess {
    .nav-sections {
      display: none;
    }

    .page-main {
      max-width: 100%;
      padding: 0;
      background: url("@{baseDir}images/zostales-wylogowany.png") no-repeat;
      background-size: cover;
      background-position: 50%;

      .page-title-wrapper {
        display: none;
      }

      .tekst {
        margin-left: auto;
        margin-right: auto;
        max-width: 1380px;
        padding-left: 18%;
        padding-right: 20px;
        display: table;
        padding-top: 270px;
        padding-bottom: 210px;

        p {
          font-size: 26px;
        }

        .customer-logout {
          font-size: 32px;
          font-weight: 700;
          text-transform: uppercase;
          color: #444;
        }
      }
    }
  }
}