.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cart.table-wrapper .actions-toolbar{
    min-height: 30px;
  }
  .checkout-shipping-address{
    .form-shipping-address{
      .field[name$=".company"]{
        display: none;
    }
      .field[name$=".vat_id"]{
        display: none;
    }
    }
  }
  .checkout-cart-index .cart-container #block-shipping{
    display: none;
  }
  .checkout-index-index .authentication-wrapper{
    display: none;
  }
  .checkout-payment-method.submit{
    .actions-toolbar{
      padding: 0 20px;
      .checkout.amasty{
        width: 100% !important;
      }
    }
  }
  .amcheckout-wrapper{
    span{
      width: 100%;
    }
  }
  .checkout-index-index .modal-popup .modal-content a{
    color: @color-lampy-zloty;
  }
  .checkout-index-index .checkout-header{
    margin: 12px 0 -15px;
  }
  .checkout-index-index .goBack{
    float: right;
    display: inline-block;
    margin-bottom: 15px;
  }
  .checkout-index-index .row.amcheckout-method{
   margin-left: 0;
  }
  .checkout-index-index .checkout_info{
         background-color: #59ac00;
         color: #fff;
         padding: 6px 20px;
      .tekst{
        text-align: center;
        .fa-lock{
          color: white;
          margin-right: 5px;
          margin-top: -3px;
          font-size: 20px;
          vertical-align: middle;
        }
        span{
          font-size: 15px;
          display: inline-block;
        }
      }
  }
  .empty-checkout {
    .nav-sections {
      margin: 0;
    }
    .page-footer .footer-right .footer-block.footer-four:after{
      z-index: 20;
    }
    .page-main {
      max-width: 100%;
      padding: 0;
      background: url("@{baseDir}images/Lampy-w-centrum-strona-pusty-koszyk.png") no-repeat;
      background-size: cover;
      background-position: 50%;

      .page-title-wrapper {
        display: none;
      }

      .tekst {
        margin-left: auto;
        margin-right: auto;
        max-width: 1380px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

        .margin-box {
          margin-top: 200px;
          margin-bottom: 200px;

          .empy-cart-h1 {
            font-size: 32px;
            font-weight: 600;
            color: white;
            margin-bottom: 15px;
            text-transform: uppercase;
          }

          p {
            font-size: 26px;
            color: white;
            margin-bottom: 20px;
          }
        }

        button.action.primary {
          padding: 10px 40px 10px 40px;
          border-radius: 0;

          a {
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .checkout-cart-index{
    .menu-on-top{
      top: -48px !important;
    }
    .menu-on-top-search{
      top: -80px !important;
    }
  }
}