.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-footer {
    .block-title {
      position: relative;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 0 8px;
      margin: 0 0 10px;
      color: @color-white;
    }

    .block-title {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: @indent__l;
        background: @color-lampy-zloty;
      }
    }

    .footer-left {
      width: 23%;
      display: inline-block;
      float: left;
      border-right: 1px solid @color-gray19;

      .socials-wrap {
        .social-fb-custom {
          height: 40px;

          a {
            position: relative;
            display: block;

            &:hover {
              &:before {
                background-color: #3b5999;
              }
            }

            &:before {
              content: "\f09a";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              width: 32px;
              height: 32px;
              padding-left: 11px;
              line-height: 32px;
              font-size: 16px;
              display: block;
              border-radius: 50%;
              color: white;
              position: absolute;
              background-color: #909090;
              box-sizing: border-box;
            }
          }
        }
      }

      .about-theshop {
        padding-right: 15px;
        color: @color-white;
        padding-top: @indent__l;
      }
    }

    .footer-right {
      width: 75%;
      display: inline-block;
      float: left;

      .lamp {
        width: 245px;
        height: 425px;
        position: absolute;
        left: 250px;
        top: -172px;
        background-repeat: no-repeat;
        background: url('@{baseDir}images/Lampa-footer.png');
      }

      .newsletter {
        .title {
          display: inline-block;
          width: 15%;
          float: left;
          font-size: @font-size__l;
          font-weight: @font-weight__heavier;
          margin: 0;
          text-transform: uppercase;
          color: @color-white;
          margin-top: @indent__xs;
        }

        .content {
          display: inline-block;
          width: 71%;
        }
      }

      .footer-block {
        width: 25%;
        display: inline-block;
        float: left;
        color: @color-white;

        .block-content {
          li {
            line-height: 25px;

            a {
              color: @color-white;
              transition: all 0.2s ease-in-out 0s;
              -moz-transition: all 0.2s ease-in-out 0s;
              -webkit-transition: all 0.2s ease-in-out 0s;

              &:hover {
                color: @color-lampy-zloty;
                text-decoration: none;
                padding-left: 5px;
              }
            }
          }
        }

        &.footer-four {
          position: relative;

          &:after {
            content: "";
            width: 245px;
            height: 425px;
            position: absolute;
            left: 270px;
            top: -173px;
            background-repeat: no-repeat;
            background: url('@{baseDir}images/Lampa-footer.png');
          }
        }

        .spotlight {
          padding-left: 15px;
          padding-right: 15px;

        }
      }
    }
  }
}