.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  nav.navigation {
    height: 0;

    ul:first-child {
      top: -50px;
    }
  }
  .modal-slide, .modal-popup{
    top:65px !important;
  }
  .product-slider .item-footer{
    text-align: center;
  }
  .manufacturer-menu .dropdown-menu{
    height: 700px;
    overflow: scroll;
  }
  .product-slider .submenu-inner .item-content .carousel-inner{
    padding-right: 35px;
    padding-left: 35px;
  }
  .amsearch-products .amsearch-highlight{
    background-color: #3f79e4;
  }
  .page-header .switcher{
    margin-left: 20px;
  }
  .header.panel > .header.links > li{
    margin: 0 0 0 20px;
  }
  .kolor_lampy{
    color: @color-lampy-zloty;
  }
  .baners-row{
    margin-right: -12px !important;
    margin-left: -12px !important;
  }
  .full-baner.padding-baner.col-md-12{
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  @media (max-width: 1700px){
    .page-header{
      background-size: cover !important;
    }
  }
  .baner-inline.col-md-3{
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .rating-summary .rating-result > span:before {
    color: @color-lampy-zloty;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .search-autocomplete{
    left: 0;
  }
  .amsearch-leftside{
    width: 20% !important;
  }
  .amsearch-results #amasty-shopby-product-list{
    width: 80% !important;
  }
  .amsearch-products.-columns{
    width: 100% !important;
  }
  .amsearch-item.product-item{
    max-width: unset !important;
    text-align: center;
    width: 25% !important;
  }
  .amsearch-wrapper-input{
   width: 100% !important;
  }
  @media(min-width: 1380px){
    .search-autocomplete{
      min-width: 1042px;
    }
  }
  .label-product{
    width: 30px;
    z-index: 1;
    position: absolute;
    top: 0;
    &.label-sale{
      right: 15px;
    }
    &.label-new{
      left: 15px;
    }
    .sale-product-icon{
      background-image: @metka_sale;
      background-repeat: no-repeat;
      display: block;
      height: 70px;
    }
    .new-product-icon{
      background-image: @metka_new;
      background-repeat: no-repeat;
      display: block;
      height: 70px;
    }
  }
  .home-style {
    .left-category-block {
      width: 21%;
    }

    .home-baner-slider {
      float: right;
      width: 77%;
      margin-bottom: 24px;
      line-height: 0;

      .slick-slider {
        height: 400px;
      }

      .sm-imageslider:hover {
        .owl-nav {
          div {
            opacity: 1;

            &:before {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      .owl-controls {
        position: static;

        .owl-nav {
          div {
            position: absolute;
            top: 50%;
            margin-top: -40px;
            width: 40px;
            height: 100px;
            background-color: transparent !important;
            color: #fff9fa;
            border: none;
            visibility: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all 0.2s ease-in-out 0s;
            -moz-transition: all 0.2s ease-in-out 0s;
            -webkit-transition: all 0.2s ease-in-out 0s;

            &.owl-prev {
              left: 20px;

              &:hover {
                color: #a7855a;
              }

              &:before {
                content: '\f104';
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                font-synthesis: weight style;
                font-stretch: normal;
                font-size-adjust: none;
                font-language-override: normal;
                font-kerning: auto;
                font-feature-settings: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-align: center;
                font-size: 95px;
                line-height: 80px;
              }
            }

            .owl-next {
              right: 20px;

              &:hover {
                color: #a7855a;
              }

              &:before {
                content: '\f105';
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                font-synthesis: weight style;
                font-stretch: normal;
                font-size-adjust: none;
                font-language-override: normal;
                font-kerning: auto;
                font-feature-settings: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-align: center;
                font-size: 95px;
                line-height: 80px;
              }
            }
          }

        }
      }
    }

    .secound-row-homepage {
      float: right;
      width: 77%;

      .baners.products_home {
        padding-bottom: 24px;
        line-height: 0;

        .baners-row {
          .baner-inline {
            display: inline-block;
            padding-bottom: 24px;
            float: left;

            &.padding-baner-first {
              padding-right: 13.9px;
            }

            &.padding-baner {
              padding-left: 14px;
              padding-right: 14px;
            }

            &.padding-last {
              padding-left: 13.9px;
            }

            .image2 {
              display: block;
              line-height: 0;
            }
          }
        }
      }

      .products-sections {
        .block.widget {
          margin-bottom: 0;

          .home-title {
            margin: 0 0 10px;

            strong {
              text-transform: uppercase;
              font-weight: 700;
              font-size: 20px;
            }
          }

          .block-content {
            .owl-prod {
              @-moz-document url-prefix() {
                .owl-item {
                  -webkit-transform: none !important;
                }
              }

              .product-item {

                width: 100%;
                border: 1px solid #e3e1e1;
                margin-bottom: 24px;

                .product-item-info {
                  padding: 5px;
                  overflow: hidden;
                  position: relative;
                  .product-item-details {
                    .product-item-name {
                      font-size: 16px;
                    }

                    .price-box {
                      height: 40px;
                      float: right;

                      .special-price {
                        line-height: 18px;

                        .price {
                          color: #ff6275
                        }
                      }

                      .price-final_price {
                        .price {
                          font-size: 18px;
                        }
                      }

                      .old-price {
                        display: block;

                        .price-wrapper {
                          .price {
                            font-size: 1.4rem;
                            text-decoration: line-through;
                            color: #afafaf;
                            float: right;
                          }
                        }

                        .price-label {
                              display: none !important;
                            }
                      }
                    }

                    .icon-product {
                      &:hover {
                        ~ .display-on-hover {
                          bottom: -55px !important;
                          z-index: 3;
                        }
                      }
                    }

                    .product-item-actions {
                      background: #ffffff;
                      border-top: none;
                      position: absolute;
                      visibility: hidden;
                      right: -80%;
                      z-index: 2;
                      top: -39%;
                      transition: all 0.3s ease-in-out 0s;
                      -moz-transition: all 0.3s ease-in-out 0s;
                      -webkit-transition: all 0.3s ease-in-out 0s;
                    }
                  }

                  &:hover {
                    .product-item-actions {
                      right: 5px;
                      visibility: visible;
                      transition: all 0.3s ease-in-out 0s;
                      -moz-transition: all 0.3s ease-in-out 0s;
                      -webkit-transition: all 0.3s ease-in-out 0s;
                      height: 40px;
                      margin-right: -10px !important;
                    }
                  }
                }

              }
            }
          }
        }
      }
    }

    .left-sidebar {
      width: 21%;
      float: left;

      .bestsellers-products {
        .block-products-list {
          margin-bottom: 0;
        }

        .block-title {
          strong {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
          }
        }

        .owl-sidebar {
          visibility: hidden;

          &.owl-loaded {
            visibility: visible;
          }

          .owl-stage-outer {
            .product-item {
              width: 100%;
              border: 1px solid #e3e1e1;
              margin-bottom: 24px;

              .product-item-info {
                position: relative;
                padding: 5px;
                overflow: hidden;

                .product-item-details {
                  .product-item-name {
                    font-size: 16px;
                  }

                  .product-item-actions {
                    background: #ffffff;
                    border-top: none;
                    position: absolute;
                    visibility: hidden;
                    right: -63%;
                    z-index: 2;
                    top: -39%;
                    transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                  }

                  .price-box {
                    height: 40px;
                    float: right;

                    .special-price {
                      line-height: 18px;

                      .price {
                        color: #ff6275
                      }
                    }

                    .price-final_price {
                      .price {
                        font-size: 18px;
                      }
                    }

                    .old-price {
                      display: block;

                      .price-wrapper {
                        .price {
                          font-size: 1.4rem;
                          text-decoration: line-through;
                          color: #afafaf;
                          float: right;
                        }
                      }
                    }

                    .price-label {
                      display: none;
                    }
                  }
                }

                .icon-product {
                  &:hover {
                    ~ .display-on-hover {
                      bottom: -55px !important;
                      z-index: 3;
                    }
                  }
                }

                &:hover {
                  .product-item-actions {
                    right: 0;
                    visibility: visible;
                    transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                  }
                }
              }
            }
          }

          .owl-controls {
            position: absolute;
            top: -47px;
            right: 0;

            .owl-nav {
              div {
                display: inline-block;
                width: 52px;
                height: 30px;
                text-align: center;
                line-height: 20px;
                color: #c8c8c8;
                background-color: #fff;
                text-indent: -9999px;
                overflow: hidden;
                position: relative;
                border: 1px solid #e3e1e1;
                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;

                &.owl-next {
                  border-color: #a7855a;
                  background-color: #a7855a;
                  color: #fff;
                  margin-left: 5px;

                  &:before {
                    content: '\f105';
                    display: inline-block;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    font-synthesis: weight style;
                    font-stretch: normal;
                    font-size-adjust: none;
                    font-language-override: normal;
                    font-kerning: auto;
                    font-feature-settings: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-align: center;
                    font-size: 14px;
                    line-height: 30px;
                  }
                }

                &.owl-prev {
                  &:hover {
                    border-color: #a7855a;
                    background-color: #a7855a;
                    color: #fff;

                    ~ .owl-next {
                      color: #c8c8c8;
                      background-color: #fff;
                      border: 1px solid #e3e1e1;
                    }
                  }

                  &:before {
                    content: '\f104';
                    display: inline-block;
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    font-synthesis: weight style;
                    font-stretch: normal;
                    font-size-adjust: none;
                    font-language-override: normal;
                    font-kerning: auto;
                    font-feature-settings: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-align: center;
                    font-size: 14px;
                    line-height: 30px;
                  }
                }

                &:before {
                  position: absolute;
                  left: 1px;
                  top: 0;
                  display: inline-block;
                  text-indent: 0;
                  width: 100%;
                  height: 100%;
                  transition: all 0.2s ease 0s;
                  -webkit-transition: all 0.2s ease 0s;
                }
              }
            }

          }
        }
      }

      .block-promotion {
        float: left;
        width: 100%;

        .block-promo-content {
          border: 1px solid #e3e1e1;
          padding: 20px 20px 50px 20px;

          .owl-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            top: auto;
            padding: 3px 0 15px 0;
            border-top: 1px solid #e3e1e1;

            .owl-dot {
              width: 12px;
              height: 12px;
              border-radius: 100%;
              -moz-border-radius: 100%;
              -webkit-border-radius: 100%;

              &.active {
                background-color: #a7855a;
              }
            }
          }

          .promo-title {
            max-height: 50px;
            overflow: hidden;
            font-weight: 400;
            color: #444444;
            font-size: 20px;
            margin: 10px 0;
            line-height: 25px;
            display: inline-block;
          }

          span {
            display: block;
            max-height: 54px;
            font-size: 12px;
            overflow: hidden;
          }
        }
      }

      .sidebar-baners {
        line-height: 0;

        .baners-margin {
          width: 100%;
          float: left;
          padding-top: 24px;
        }
      }
    }

    .luma-width {
      width: 100%;
    }
  }
  #gdpr-cookie-block {
    opacity: 0.8;

    .content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1380px;
      padding-left: 20px;
      padding-right: 20px;

      > p {
        width: 80%;
        float: left;
        margin-top: 7px;
      }
    }
  }
  .luma-width.brand-slider {
    #amslider_id1 {
      border: 1px solid #e3e1e1;
      text-align: center;
      margin-top: 15px;
    }

    .amslider-header-container {
      display: none !important;
    }
  }
  #yt-totop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #666666;
    border: 4px solid #ddd;
    color: #dddddd;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    width: 48px;
    height: 48px;
    z-index: 30;

    &:hover {
      background-color: #444;
      text-decoration: none;
    }

    &:before {
      content: "\f062";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 20px;
      position: absolute;
      top: -3px;
      left: 12px;
      color: #ddd;
    }
  }
  .owl-controls {
    position: absolute;
    top: -44px;
    right: 0;

    .owl-nav {
      div {
        display: inline-block;
        width: 52px;
        height: 30px;
        text-align: center;
        line-height: 20px;
        color: #c8c8c8;
        background-color: #fff;
        text-indent: -9999px;
        overflow: hidden;
        position: relative;
        border: 1px solid #e3e1e1;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;

        &.owl-next {
          border-color: #a7855a;
          background-color: #a7855a;
          color: #fff;
          margin-left: 5px;

          &:before {
            content: '\f105';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-synthesis: weight style;
            font-stretch: normal;
            font-size-adjust: none;
            font-language-override: normal;
            font-kerning: auto;
            font-feature-settings: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            font-size: 14px;
            line-height: 30px;
          }
        }

        &.owl-prev {
          &:hover {
            border-color: #a7855a;
            background-color: #a7855a;
            color: #fff;

            ~ .owl-next {
              color: #c8c8c8;
              background-color: #fff;
              border: 1px solid #e3e1e1;
            }
          }

          &:before {
            content: '\f104';
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-synthesis: weight style;
            font-stretch: normal;
            font-size-adjust: none;
            font-language-override: normal;
            font-kerning: auto;
            font-feature-settings: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            font-size: 14px;
            line-height: 30px;
          }
        }

        &:before {
          position: absolute;
          left: 1px;
          top: 0;
          display: inline-block;
          text-indent: 0;
          width: 100%;
          height: 100%;
          transition: all 0.2s ease 0s;
          -webkit-transition: all 0.2s ease 0s;
        }
      }
    }

  }
}