.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .for-mobile {
    display: none
  }
  .cms-jak-kupowac,.cms-how-to-buy {
    .page-footer .footer-right .footer-block.footer-four:after {
      z-index: 20;
    }

    .jak-kupowac-h3 {
      font-size: 32px;
      color: #444444;
      text-transform: uppercase;
      padding-bottom: 20px;
      margin: 0;
    }

    .nav-sections {
      margin: 0;
    }

    .breadcrumbs {
      display: none;
    }

    .margin-0 {
      margin: 0;
    }

    .margin_top_bottom {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .page-main {
      max-width: 100%;
      padding: 0;
      font-size: 16px;

      .column.main {
        padding: 0;
      }

      .read-more {
        color: @color-lampy-zloty;
        font-style: oblique;
      }

      .tekst {
        margin-left: auto;
        margin-right: auto;
        max-width: 1380px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .how-to-buy-desc {
        width: 50%;
        font-size: 16px;
        padding-bottom: 90px;
        padding-top: 90px;
      }

      .how-to-buy {
        &.baner {
          background: url("@{baseDir}images/Lampy-w-centrum-strona-jak-kupowac.png") no-repeat;
          background-size: cover;
        }
      }

      .register-in-shop {
        padding-bottom: 60px;
        padding-top: 60px;

        .tekst-width {
          width: 76.2%;

          .margin-left {
            margin-left: 25px;

            p {
              margin-bottom: 0;

              &.margin-top {
                margin-top: 15px;
              }
            }

            .lista-zyczen {
              height: 40px;
              margin-top: 15px;
              margin-bottom: 15px;

              img {
                background: url("@{baseDir}images/lista-zyczen.png") no-repeat;
                width: 124px;
                float: left;
                height: 40px;
              }

              span {
                height: 40px;
                line-height: 40px;
                float: left;
                display: inline-block;
                margin-left: 10px;
              }
            }
          }

          .porownanie-akapit {
            margin-top: 15px;
            margin-bottom: 0;
          }

          .porownianie-produktow {
            height: 40px;
            margin-top: 15px;
            margin-bottom: 15px;

            img {
              background: url("@{baseDir}images/porownywarka.png") no-repeat;
              width: 124px;
              float: left;
              height: 40px;
            }
          }
        }
      }

      .promo-section {
        background: url("@{baseDir}images/promocje.png") no-repeat;
        background-size: cover;

        .promo-desc {
          width: 45%;
          font-size: 16px;
          padding-bottom: 80px;
          padding-top: 80px;

          .promo-button {
            margin-bottom: 25px;
            margin-top: 25px;
            text-transform: uppercase;
            padding: 11px 25px 11px 25px;
            font-weight: 300;
            border-radius: 0;

            a {
              color: white;
            }
          }
        }
      }

      .rabaty {
        display: flex;

        .full-witdh {
          width: 100%;
        }

        .center {
          text-align: center;

          .rabat-desc {
            display: block;
            margin-top: 10px;
            font-size: 24px;
          }
        }
      }

      .koszty-dostawy {
        background: url("@{baseDir}images/koszty-dostawy.png") no-repeat;
        background-size: cover;

        .free-icon {
          position: relative;
          top: 8px;
          left: 5px;
        }

        .margin-top {
          margin-top: 20px;
        }
      }

      .sposoby-platnosci {
        background: url("@{baseDir}images/sposoby-platnosci.png") no-repeat;
        background-size: cover;

        .m-bank {
          margin-bottom: 10px;
        }

        .inteligo {
          margin-bottom: 15px;
        }

        .img-sett {
          float: left;
          margin-right: 15px;
        }

        .przelwy-24-img {
          position: relative;
          top: 5px;
          left: 5px;
        }
      }
    }
  }
}