.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cms-kontakt,.cms-contact {
    .nav-sections {
      margin: 0;
    }
    .row{
      margin-left: -15px;
      margin-right: -15px;
    }
    .breadcrumbs {
      display: none;
    }
    .page-footer .footer-right .footer-block.footer-four:after{
      z-index: 20;
    }
    .page-main {
      max-width: 100%;
      padding: 0;
        .column.main{
          padding: 0;
        }
      .tekst {
        margin-left: auto;
        margin-right: auto;
        max-width: 1380px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Open Sans;
        font-size: 16px;
      }
      .titlekontakt {
        font-size: 32px;
        color: #444444;
        text-transform: uppercase;
        padding-bottom: 20px;
        margin: 0;
        font-weight: 600;
      }
      .contact-welcome {
        background: url("@{baseDir}images/Lampy-w-centrum-strona-kontakt.png") no-repeat;
        background-size: cover;
        background-position: 50%;

        .tekst {
          padding-top: 80px;
          padding-bottom: 80px;
          .small-width {
            width: 46%;
          }
        }
      }

      .middletextkontakt {
        padding-bottom: 80px;
        padding-top: 60px;
          .titlekontakt{
            padding-bottom: 35px;
          }
        .phone{
          margin-left: 25px;
        }
        .meil{
          margin-bottom: 15px;
        }
        .margin-bottom-0{
          margin-bottom: 0;
        }
        .m-bank{
          margin-bottom: 15px;
        }
        .bank-img {
          float: left;
          margin-right: 15px;
        }
        .title{
          margin-bottom: 20px;
          font-weight: 600;
        }
      }
    }
  }
}