.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m)  {
  .cms-no-route{
    .nav-sections{
      margin-bottom: 0;
    }
    .column.main{
      padding-bottom: 0;
      .wrapper_404page{
        .button-404{
          position: relative;
          top: 370px;
          text-align: center;
        }
      }
    }
  }
}