.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cms-o-firmie,.cms-about-company {
    /* latin-ext */
    @font-face {
      font-family: 'Herr Von Muellerhoff';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Herr Von Muellerhoff Regular'), local('HerrVonMuellerhoff-Regular'), url(https://fonts.gstatic.com/s/herrvonmuellerhoff/v9/WBL6rFjRZkREW8WqmCWYLgCkQKXb4CAft0cz9KNo3Q.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Herr Von Muellerhoff';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Herr Von Muellerhoff Regular'), local('HerrVonMuellerhoff-Regular'), url(https://fonts.gstatic.com/s/herrvonmuellerhoff/v9/WBL6rFjRZkREW8WqmCWYLgCkQKXb4CAft0c99KM.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .nav-sections {
      margin: 0;
    }

    .page-footer .footer-right .footer-block.footer-four:after {
      z-index: 20;
    }

    .breadcrumbs {
      display: none;
    }
    @-moz-document url-prefix() {
      .clients:after{
        top: 10px !important;
    }
    }
.button-back{
  display: table;
  margin: auto;
  text-align: center;
  padding-top: 25px;
  .prev-page-btn{
    margin-right: 10px;
  }
}
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    .tekst {
      margin-left: auto;
      margin-right: auto;
      max-width: 1380px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: Open Sans;
      font-size: 16px;
    }

    .center {
      text-align: center;
    }

    .page-main {
      max-width: 100%;
      padding: 0;

      .column.main {
        padding: 0;

        .clients {
          background: url("@{baseDir}images/Firma-tlo.png") no-repeat;
          height: 900px;
          background-size: cover;
          .tekst {
            color: white;
            .logo-o-firmie{
              background: url("@{baseDir}images/o-firmie_logo.png") no-repeat;
              height: 120px;
              width: 430px;
              text-align: center;
              display: block;
              margin: auto;
              top: -60px;
              position: relative;
            }
            .logo-o-firmie-en{
              background: url("@{baseDir}images/logo_biale_en.svg") no-repeat;
              height: 120px;
              width: 430px;
              text-align: center;
              display: block;
              margin: auto;
              top: -60px;
              position: relative;
            }
            .padding {
              padding-bottom: 60px;
              padding-top: 25%;
              width: 54%;
              margin: auto;
              text-align: center;

              .title {
                font-family: 'Herr Von Muellerhoff', cursive;
                font-size: 85px;
                text-align: center;
                margin-bottom: 25px;
              }
            }
          }

          &:after {
            content: "";
            width: 30px;
            height: 30px;
            display: block;
            position: relative;
            margin: auto;
            top: 14px;
            background: black;
            -ms-transform: rotate(45deg); /* IE 9 */
            -ms-transform-origin: 45%; /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari 3-8 */
            -webkit-transform-origin: 45%; /* Safari 3-8 */
            transform: rotate(45deg);
          }
        }

        .section-2 {
          .padding {
            padding-bottom: 50px;
            padding-top: 50px;

            .title {
              font-size: 32px;
              color: #444444;
              text-transform: uppercase;
              text-align: center;
              margin: 0;
              font-weight: 600;
            }

            .sub-title {
              font-size: 32px;
              color: #444444;
              text-transform: uppercase;
              text-align: center;
              margin-bottom: 100px;
              font-weight: 300;
            }

            .first-container {
              margin-bottom: 80px;
            }

            .description {
              margin-top: 25px;
            }

            .desc {
              .sub-title {
                margin-bottom: 0;
                margin-top: 100px;
              }

              .center.font {
                font-family: 'Herr Von Muellerhoff', cursive;
                font-size: 85px;
                text-align: center;
                margin-bottom: 25px;
              }
            }
          }
        }

        .section-oferta {
          display: flex;
          background-color: #e2e2e2;

          .padding {
            display: inline-block;
            padding-bottom: 50px;
            padding-top: 40px;

            .title {
              font-size: 32px;
              color: #444444;
              text-transform: uppercase;
              padding-bottom: 40px;
              margin: 0;
              font-weight: 600;
            }

            .margin-0 {
              margin-bottom: 0;
            }

            .margin-top {
              margin-top: 15px;
            }
          }
        }
      }

    }

    .page-title-wrapper {
      display: none;
    }
  }
}
