.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .product.info.detailed {
    .data.item.title {
      position: relative;

      &:before {
        content: "";
        background-color: @color-lampy-zloty;
        width: 0%;
        height: 3px;
        position: absolute;
        top: -3px;
        left: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out 0s;
      }

      .data.switch {
        background-color: @color-lampy-zloty;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }

      &:hover {
        a {
          background-color: #fff !important;
          color: #444 !important;
        }

        &:before {
          visibility: visible;
          opacity: 1;
          filter: alpha(opacity=100);
          transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          -webkit-transition: all 0.2s ease-in-out 0s;
          width: 100%;
        }
      }

      &.active {
        &:before {
          visibility: visible;
          opacity: 1;
          filter: alpha(opacity=100);
          transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          -webkit-transition: all 0.2s ease-in-out 0s;
          width: 100%;
        }

        .data.switch {
          background-color: #fff;
          color: #444;
        }
      }
    }

    .data.item.content {
      margin-top: 39px;
    }
    .product.attribute.description{
      .value{
        font-size: 16px;
      }
      table{
        width: auto !important;
      }
    }
    .attribute.description{
      tr:nth-child(2n){
        background-color: #e1e1e1;
      }
      th{
        padding: 12px !important;
      }
      td{
        padding: 12px !important;
      }
    }
    .additional-attributes{
      tr:nth-child(2n){
        background-color: #e1e1e1;
      }
      th{
        padding: 12px !important;
      }
      td{
        padding: 12px !important;
      }
    }
  }
}