.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block.related,
  .block.category,
  .block.upsell {
    margin: 0;

    .block-title {
      strong {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
      }
    }

    .block-content {
      .products {
        margin: 0;

        .product-item {
          margin-left: calc(~'(100% - 5 * 18.768%) / 4');
          padding: 0;
          width: 18.768%;
          border: 1px solid #e3e1e1;
          overflow: hidden;
          margin-bottom: 24px;

          &:nth-child(5n + 1) {
            margin-left: 0;
          }

          .product-item-info {
            padding: 5px;
            overflow: hidden;
            width: auto;

            .product-item-details {
              .product-item-name {
                font-size: 16px;
              }

              .price-box {
                height: 40px;
                float: right;

                .special-price {
                  line-height: 18px;

                  .price {
                    color: #ff6275
                  }
                }

                .price-final_price {
                  .price {
                    font-size: 18px;
                  }
                }

                .old-price {
                  display: block;

                  .price-wrapper {
                    .price {
                      font-size: 1.4rem;
                      text-decoration: line-through;
                      color: #afafaf;
                      float: right;
                    }
                  }

                  .price-label {
                    display: none;
                  }
                }
              }

              .icon-product {
                &:hover {
                  ~ .display-on-hover {
                    bottom: -55px !important;
                    z-index: 3;
                  }
                }
              }

              .product-item-actions {
                background: #ffffff;
                border-top: none;
                position: absolute;
                visibility: hidden;
                right: -80%;
                z-index: 2;
                top: -39%;
                transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
              }
            }

            &:hover {
              .product-item-actions {
                right: 5px;
                visibility: visible;
                transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                height: 40px;
                margin-right: -10px !important;
              }
            }
          }

        }
      }
    }
  }
  .block.category,
  .block.upsell {
    .block-content {
      .product-item {
        width: 100% !important;
        border: 1px solid #e3e1e1;

        .product-items {
          .product-item {
            width: 100%;
          }
        }
      }
    }

    .all-category-products {
      .cust-prim {
        padding: 6px 15px;
        background: #ffffff;
        border: 1px solid #e3e1e1;
        color: #333;
        font-size: 16px;
        border-radius: 2px;
        font-weight: 400;

        &:hover {
          background: #a9885f;
          border: 1px solid #a9885f;
          color: #ffffff;
        }
      }
    }
  }
}