.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .wishlist-index-index {
    .product-item-info {
      &:hover {
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #bbbbbb;
        margin: -10px;
        padding: 9px;

        .product-item-inner {
          top: unset !important;
          visibility: visible;
        }
      }
    }
  }
}