<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>
<div class="tekst">
<h1 class="customer-logout"><?= __('You are logged out') ?></h1>
    <p><?= __('You have logged out and you will be redirected')?><br><?= __(' to the home page ')?><strong><?= __('within 5 seconds.')?></strong></p>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/logout-redirect": {
                "url": "<?= $block->escapeJs($block->escapeUrl($block->getUrl())) ?>"
            }
        }
    }
</script>
